Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add native token
  bob/src/SablierBob.sol
  bob/src/SablierEscrow.sol
  bob/src/abstracts/SablierBobState.sol
  bob/src/abstracts/SablierEscrowState.sol
  bob/src/interfaces/ISablierBob.sol
  bob/src/interfaces/ISablierBobState.sol
  bob/src/interfaces/ISablierEscrow.sol
  bob/src/interfaces/ISablierEscrowState.sol
  bob/src/libraries/Errors.sol
  bob/tests/bob/integration/concrete/create-vault/createVault.t.sol
  bob/tests/bob/integration/concrete/create-vault/createVault.tree
  bob/tests/bob/integration/concrete/set-native-token/setNativeToken.t.sol
  bob/tests/bob/integration/concrete/set-native-token/setNativeToken.tree
  bob/tests/bob/utils/Modifiers.sol
  bob/tests/escrow/integration/concrete/create-order/createOrder.t.sol
  bob/tests/escrow/integration/concrete/create-order/createOrder.tree
  bob/tests/escrow/integration/concrete/set-native-token/setNativeToken.t.sol
  bob/tests/escrow/integration/concrete/set-native-token/setNativeToken.tree
  bob/tests/escrow/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

style: format
  bob/tests/bob/integration/concrete/create-vault/createVault.t.sol
  bob/tests/bob/integration/concrete/set-native-token/setNativeToken.t.sol
  bob/tests/escrow/integration/concrete/set-native-token/setNativeToken.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: coderabbit suggestions
  bob/DIAGRAMS.md
  bob/scripts/bash/prepare-artifacts.sh
  bob/src/abstracts/SablierEscrowState.sol
  bob/src/interfaces/ISablierBobAdapter.sol
  bob/src/interfaces/ISablierEscrow.sol
  bob/tests/escrow/integration/concrete/create-order/createOrder.t.sol
  bob/tests/escrow/utils/Constants.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(bob): sort escrow test modifiers alphabetically
  bob/tests/escrow/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: add bob to setup recipe
  package.json
Due: prettier --cache --write

scripts: polish Bob deployment scripts
  bob/justfile
  bob/scripts/solidity/DeployBob.s.sol
  bob/scripts/solidity/DeployDeterministicBob.s.sol
  bob/scripts/solidity/DeployDeterministicLidoAdapter.s.sol
  bob/scripts/solidity/DeployLidoAdapter.s.sol
  bob/scripts/solidity/LidoAdapterUtils.s.sol
  justfile
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

scripts: add instructions to upgrade comptroller
  utils/scripts/solidity/UpgradeComptrollerProxy.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comments
  utils/scripts/solidity/UpgradeComptrollerProxy.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: polish bob and comptroller upgrade scripts (#1418)
  bob/justfile
  bob/scripts/solidity/DeployBob.s.sol
  bob/scripts/solidity/DeployDeterministicBob.s.sol
  bob/scripts/solidity/DeployDeterministicLidoAdapter.s.sol
  bob/scripts/solidity/DeployLidoAdapter.s.sol
  bob/scripts/solidity/LidoAdapterUtils.s.sol
  justfile
  utils/scripts/solidity/UpgradeComptrollerProxy.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(bob): fork and fuzz
  bob/src/SablierEscrow.sol
  bob/tests/escrow/Base.t.sol
  bob/tests/escrow/fork/Escrow.t.sol
  bob/tests/escrow/fork/Fork.t.sol
  bob/tests/escrow/integration/Integration.t.sol
  bob/tests/escrow/integration/fuzz/cancelOrder.t.sol
  bob/tests/escrow/integration/fuzz/createOrder.t.sol
  bob/tests/escrow/integration/fuzz/fillOrder.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --cache --write: any of: *.{json,md,svg,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
