Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

build: rename `prepare` script to `setup` (#1285)
  CONTRIBUTING.md
  bun.lock
  package.json
Due: prettier --cache --write

build: rename prepare script to setup
  CONTRIBUTING.md
  bun.lock
  package.json
Due: prettier --cache --write

build: rename prepare script to setup docs: add contributing guide
  CONTRIBUTING.md
  README.md
  bun.lock
  package.json
Due: prettier --cache --write

docs: roll v3.0.0-beta.0
  package.json
  tests/utils/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix invariant deal
  tests/invariant/handlers/LockupCreateHandler.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix invariant deal (#1287)
  tests/invariant/handlers/LockupCreateHandler.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use vm.getBlockTimestamp()
  tests/utils/Calculations.sol
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: 4-space formatting
  justfile
Due: none

refactor: use vm.getBlockTimestamp() (#63)
  src/tests/BaseUtils.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: bump version to 1.0.0-beta.3
  CHANGELOG.md
  package.json
  tests/integration/fuzz/base-script/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add `blockTimestamp` to `FlowStore` (#465)
  bun.lock
  package.json
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
  tests/utils/Modifiers.sol
  tests/utils/Utils.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils test: inherit Calculations from BaseUtils
  bun.lock
  package.json
  tests/utils/Calculations.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use `getBlockTimestamp()` instead of `block.timestamp` (#1288)
  bun.lock
  package.json
  tests/utils/Calculations.sol
  tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: add support for deploying proxy using create2 (#60)
  .env.example
  bun.lock
  foundry.toml
  justfile
  scripts/solidity/DeployDeterministicComptrollerProxy.s.sol
  scripts/solidity/ProxyHelpers.sol
  scripts/solidity/UpgradeComptrollerProxy.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: update RouteMesh URLs from lb.routeme.sh to ca.routeme.sh (#466)
  foundry.toml
Due: none

script: add custom salt for proxy chore: use vm assert
  scripts/solidity/DeployDeterministicComptrollerProxy.s.sol
  scripts/solidity/ProxyHelpers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump devkit
  bun.lock
  package.json
Due: prettier --cache --write

test: fix names when multiple functions are tested in the same file
  tests/integration/concrete/lockup/getters/getters.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix names when multiple functions are tested in the same file
  tests/integration/concrete/getters/getters.t.sol
  tests/integration/concrete/payable/payable.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: update RPC URLs from ca.routeme.sh to direct.routeme.sh (#467)
  foundry.toml
Due: none

perf(invariant): using bounds to lower discard rates (#464)
  tests/invariant/Invariant.t.sol
  tests/invariant/README.md
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowComptrollerHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
  tests/utils/Constants.sol
  tests/utils/Utils.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump version to v1.0.0 (#65)
  LICENSE-BUSL.md
  foundry.toml
  package.json
  scripts/bash/prepare-artifacts.sh
  scripts/solidity/DeployDeterministicComptrollerProxy.s.sol
  scripts/solidity/UpgradeComptrollerProxy.s.sol
  src/tests/BaseScript.sol
  src/tests/ChainId.sol
  tests/integration/fuzz/base-script/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils for deployments
  bun.lock
  package.json
Due: prettier --cache --write

docs: add changelog for v1.0.0
  CHANGELOG.md
Due: prettier --cache --write

use npm package
  bun.lock
  package.json
Due: prettier --cache --write

build: bump evm-utils for deployments (#1289)
  bun.lock
  package.json
Due: prettier --cache --write

build: bump evm-utils for deployments (#469)
  bun.lock
  package.json
  scripts/solidity/NFTDescriptorAddresses.sol
  tests/integration/concrete/create/create.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: use routemesh for rpc endpoints
  foundry.toml
  package.json
Due: prettier --cache --write

ci: rename tree-path to test-dir
  .github/workflows/ci.yml
Due: prettier --cache --write
