Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump solhint (#1276)
  .lintstagedrc.js
  .solhint.json
  bun.lock
  package.json
  src/libraries/LockupMath.sol
  tests/.solhint.json
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump solhint (#458)
  .lintstagedrc.js
  .solhint.json
  bun.lock
  package.json
  tests/.solhint.json
Due: prettier --cache --write

build: bump solhint (#58)
  .lintstagedrc.js
  .solhint.json
  bun.lock
  package.json
  src/Comptrollerable.sol
  src/RoleAdminable.sol
  tests/.solhint.json
  tests/integration/concrete/comptroller/calculate-min-fee-wei-for/calculateMinFeeWeiFor.t.sol
  tests/integration/concrete/comptroller/calculate-min-fee-wei/calculateMinFeeWei.t.sol
  tests/integration/concrete/comptroller/execute/execute.t.sol
  tests/integration/concrete/comptroller/set-oracle/setOracle.t.sol
  tests/integration/concrete/comptrollerable/set-comptroller/setComptroller.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: upgradeable comptroller using UUPS proxy pattern (#54)
  .env.example
  .solhint.json
  bun.lock
  foundry.toml
  justfile
  package.json
  scripts/DeployComptroller.s.sol
  scripts/DeployComptrollerProxy.s.sol
  scripts/DeployDeterministicComptroller.s.sol
  scripts/UpgradeComptrollerProxy.s.sol
  src/Adminable.sol
  src/NoDelegateCall.sol
  src/RoleAdminable.sol
  src/SablierComptroller.sol
  src/interfaces/ISablierComptroller.sol
  src/mocks/erc20/ERC20Mock.sol
  src/tests/BaseTest.sol
  tests/.solhint.json
  tests/Base.t.sol
  tests/integration/concrete/comptroller/constructor.t.sol
  tests/integration/concrete/comptroller/constructor/constructor.t.sol
  tests/integration/concrete/comptroller/constructor/constructor.tree
  tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.t.sol
  tests/integration/concrete/comptroller/execute/execute.t.sol
  tests/integration/concrete/comptroller/initialize/initialize.t.sol
  tests/integration/concrete/comptroller/initialize/initialize.tree
  tests/integration/concrete/comptroller/upgrade-to-and-call/upgradeToAndCall.t.sol
  tests/integration/concrete/comptroller/upgrade-to-and-call/upgradeToAndCall.tree
  tests/integration/concrete/comptrollerable/set-comptroller/setComptroller.t.sol
  tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove "export" from .env.example
  .env.example
Due: none

fix: delete bun.lockb file
  bun.lock
  bun.lockb
Due: none

fix: lint issues
  .solhint.json
  TECHNICAL-DOC.md
Due: prettier --cache --write

fix: delete bun.lockb file and fix lint
  .solhint.json
  bun.lock
  bun.lockb
  tests/utils/Assertions.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: disable no-console in solhint tests
  tests/.solhint.json
Due: prettier --cache --write

build: move forge-std to dependencies build: use ERC1967Proxy instead of UnsafeUpgrades in BaseTest to remove dependency on foundry-upgrades
  bun.lock
  package.json
  src/tests/BaseTest.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add changelog
  CHANGELOG.md
Due: prettier --cache --write

script: add prepare-artifact script
  bun.lock
  justfile
  scripts/bash/prepare-artifacts.sh
  scripts/solidity/DeployComptrollerProxy.s.sol
  scripts/solidity/DeployDeterministicERC20Faucet.s.sol
  scripts/solidity/DeployERC20Faucet.s.sol
  scripts/solidity/UpgradeComptrollerProxy.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: package version
  package.json
  tests/integration/fuzz/base-script/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils package
  bun.lock
  package.json
  tests/integration/concrete/nft-descriptor/generateAccentColor.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils package
  bun.lock
  package.json
Due: prettier --cache --write

test: add invariant tests for comptroller (#55)
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  foundry.toml
  tests/Base.t.sol
  tests/invariant/Comptroller.t.sol
  tests/invariant/handlers/ComptrollerHandler.sol
  tests/utils/Utils.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(invariant): gasUsed(create) >= gasUsed(withdraw) || gasUsed(cancel)
  tests/invariant/Invariant.t.sol
  tests/invariant/README.md
  tests/invariant/handlers/LockupCreateHandler.sol
  tests/invariant/handlers/LockupHandler.sol
  tests/invariant/stores/LockupStore.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: drop support for taiko
  scripts/solidity/NFTDescriptorAddresses.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: drop support for taiko
  src/tests/BaseScript.sol
  src/tests/ChainId.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier --cache --write

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier --cache --write

ci: update claude action
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier --cache --write

Add Claude Code GitHub Workflow (#1282)
  .github/workflows/claude.yml
Due: prettier --cache --write

test(invariant): use enum to record gas usage
  tests/invariant/Invariant.t.sol
  tests/invariant/handlers/LockupCreateHandler.sol
  tests/invariant/handlers/LockupHandler.sol
  tests/invariant/stores/LockupStore.sol
  tests/utils/Types.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore(ci): upgrade checkout to v5
  .github/workflows/ci-multibuild.yml
  .github/workflows/claude.yml
  .github/workflows/generate-svg.yml
Due: prettier --cache --write

ci: bump checkout to v5 (#1283)
  .github/workflows/ci-multibuild.yml
  .github/workflows/claude.yml
  .github/workflows/generate-svg.yml
Due: prettier --cache --write

ci: bump checkout to v5 (#460)
  .github/workflows/ci-multibuild.yml
Due: prettier --cache --write

Add invariant comparing gas used by create with cancel and withdraw (#1281)
  tests/invariant/Invariant.t.sol
  tests/invariant/README.md
  tests/invariant/handlers/LockupCreateHandler.sol
  tests/invariant/handlers/LockupHandler.sol
  tests/invariant/stores/LockupStore.sol
  tests/utils/Types.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump forge-std to v1.10.0
  bun.lock
  package.json
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: any of: *.{json,md,svg,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
