Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

chore: format foundry.toml file
  foundry.toml
Due: none

ci: remove generate svg workflow
  .github/workflows/generate-svg.yml
Due: prettier --cache --write

chore: remove smt profile
  .env.example
  .github/workflows/run-smtchecker.yml
  .lintstagedrc.js
  foundry.toml
Due: prettier --cache --write

chore: use api key infura and chainId library (#453)
  .env.example
  bun.lock
  foundry.toml
  package.json
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployFlow.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/NFTDescriptorAddresses.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove smt (#170)
  .lintstagedrc.js
  bun.lock
  foundry.toml
  package.json
  scripts/solidity/CreateMerkleInstant.s.sol
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleLT.s.sol
  scripts/solidity/CreateMerkleVCA.s.sol
  scripts/solidity/DeployDeterministicFactories.s.sol
  scripts/solidity/DeployFactories.s.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: rename bnb to bsc
  bun.lock
  foundry.toml
  package.json
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployLockup.s.sol
  scripts/solidity/DeployProtocol.s.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove smt (#1265)
  .lintstagedrc.js
  bun.lock
  foundry.toml
  package.json
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployLockup.s.sol
  scripts/solidity/DeployProtocol.s.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove smt (#1265)
  .env.example
  .github/workflows/run-smtchecker.yml
  .lintstagedrc.js
  bun.lock
  foundry.toml
  package.json
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployLockup.s.sol
  scripts/solidity/DeployProtocol.s.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: remove generate svg workflow (#1266)
  .github/workflows/generate-svg.yml
Due: prettier --cache --write

build: remove optimized profile
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  foundry.toml
  scripts/bash/prepare-artifacts.sh
  tests/Base.t.sol
  tests/utils/DeployOptimized.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: pass default
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

docs: add invariant README for Lockup contract
  tests/invariant/README.md
Due: prettier --cache --write

docs: polish invariant readme
  tests/invariant/README.md
Due: prettier --cache --write

chore: order invariants according to readme
  tests/invariant/Invariant.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: fix lint issues
  tests/invariant/README.md
Due: prettier --cache --write

docs: add invariants README (#1269)
  tests/invariant/Invariant.t.sol
  tests/invariant/README.md
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Refactors `BaseTest` contract and adds `ci-deep` GA (#38)
  .github/workflows/ci-deep.yml
  foundry.toml
  src/tests/BaseConstants.sol
  src/tests/BaseTest.sol
  src/tests/BaseUtils.sol
  tests/fork/ChainlinkOracle.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename ComptrollerManager to Comptrollerable (#43)
  LICENSE-BUSL.md
  LICENSE.md
  README.md
  package.json
  src/Comptrollerable.sol
  src/SablierComptroller.sol
  src/interfaces/IComptrollerable.sol
  src/libraries/Errors.sol
  src/mocks/ComptrollerManagerMock.sol
  src/mocks/ComptrollerableMock.sol
  tests/Base.t.sol
  tests/integration/concrete/comptroller-manager/set-comptroller/setComptroller.t.sol
  tests/integration/concrete/comptrollerable/constructor.t.sol
  tests/integration/concrete/comptrollerable/only-comptroller/onlyComptroller.t.sol
  tests/integration/concrete/comptrollerable/only-comptroller/onlyComptroller.tree
  tests/integration/concrete/comptrollerable/set-comptroller/setComptroller.t.sol
  tests/integration/concrete/comptrollerable/set-comptroller/setComptroller.tree
  tests/integration/concrete/comptrollerable/transfer-fees-to-comptroller/transferFeesToComptroller.t.sol
  tests/integration/concrete/comptrollerable/transfer-fees-to-comptroller/transferFeesToComptroller.tree
  tests/integration/concrete/sablier-comptroller/execute/execute.t.sol
  tests/integration/concrete/sablier-comptroller/transfer-and-collect-fees/transferAndCollectFees.t.sol
  tests/integration/concrete/sablier-comptroller/transfer-and-collect-fees/transferAndCollectFees.tree
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

style: format invariant README
  tests/invariant/README.md
Due: prettier --cache --write

docs: sequential order
  tests/invariant/README.md
Due: prettier --cache --write

docs: update license
  LICENSE-BUSL.md
  LICENSE.md
  bun.lock
  package.json
Due: prettier --cache --write

refactor: ComptrollerManager to Comptrollerable
  bun.lock
  package.json
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/lockup/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup/recover/recover.t.sol
  tests/integration/concrete/lockup/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup/set-nft-descriptor/setNFTDescriptor.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove main tag
  bun.lock
  package.json
Due: prettier --cache --write

build: bump evm-utils
  bun.lock
  package.json
Due: prettier --cache --write

run prettier-write
  bun.lock
  tests/invariant/README.md
Due: prettier --cache --write

refactor: ComptrollerManager to Comptrollerable (#1268)
  LICENSE-BUSL.md
  LICENSE.md
  bun.lock
  package.json
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/lockup/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup/recover/recover.t.sol
  tests/integration/concrete/lockup/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/invariant/README.md
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: function to calculate min fee in wei for a given stream ID refactor: use the new function to calculate min fee in wei test: add integration test for calculateMinFeeWei
  bun.lock
  package.json
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  tests/integration/concrete/lockup/calculate-min-fee-wei-for/calculateMinFeeWeiFor.t.sol
  tests/integration/concrete/lockup/calculate-min-fee-wei-for/calculateMinFeeWeiFor.tree
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use constant price
  bun.lock
  tests/integration/concrete/lockup/calculate-min-fee-wei-for/calculateMinFeeWeiFor.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: function to calculate min fee in wei for a given stream ID (#1270)
  bun.lock
  package.json
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  tests/integration/concrete/lockup/calculate-min-fee-wei-for/calculateMinFeeWeiFor.t.sol
  tests/integration/concrete/lockup/calculate-min-fee-wei-for/calculateMinFeeWeiFor.tree
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update readme build: bump evm-utils
  README.md
  bun.lock
  package.json
Due: prettier --cache --write
