Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

script: add one-time setup script chore: rename bash scripts build: fix package versions
  .lintstagedrc.js
  CONTRIBUTING.md
  airdrops/bun.lock
  airdrops/package.json
  bun.lock
  flow/bun.lock
  flow/package.json
  justfile
  lockup/bun.lock
  lockup/package.json
  package.json
  scripts/bash/publish-postpack.sh
  scripts/bash/publish-prepack.sh
  scripts/bash/setup.sh
  utils/bun.lock
  utils/package.json
Due: prettier --cache --write

add just symlinks
  justfile
  scripts/bash/setup.sh
Due: none

chore: update setup in justfile
  justfile
Due: none

chore: use full-write-all recipe in pre-commit lint check
  .lintstagedrc.js
  airdrops/bun.lock
  bun.lock
  flow/bun.lock
  lockup/bun.lock
  utils/bun.lock
Due: none

docs: add withdraw requirement about msg.value
  flow/src/interfaces/ISablierFlow.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: add missing changes from flow@626a930
  flow/tests/fork/Flow.t.sol
  flow/tests/fork/Fork.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: refactor CI workflows
  .github/workflows/ci-airdrops.yml
  .github/workflows/ci-flow.yml
  .github/workflows/ci-lockup.yml
  .github/workflows/ci-module.yml
  .github/workflows/ci-utils.yml
  .prettierrc.js
  airdrops/foundry.toml
  airdrops/tests/fork/Fork.t.sol
  justfile
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: integrate syncpack for verifying dependencies versions
  .github/workflows/check-deps.yml
  .syncpackrc.json
  CONTRIBUTING.md
  airdrops/bun.lock
  airdrops/package.json
  bun.lock
  flow/bun.lock
  flow/package.json
  justfile
  lockup/bun.lock
  lockup/package.json
  package.json
  utils/bun.lock
  utils/package.json
Due: prettier --cache --write

chore: remove slither config
  slither.config.json
Due: prettier --cache --write

ci: fix version for syncpack
  .github/workflows/check-deps.yml
Due: prettier --cache --write

test: use foundry cheatcodes to generate EIP-712 signature
  airdrops/tests/Base.t.sol
  airdrops/tests/integration/Integration.t.sol
  airdrops/tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  airdrops/tests/integration/concrete/campaign/shared/domain-separator/domainSeparator.t.sol
  airdrops/tests/unit/SignatureHash.t.sol
  airdrops/tests/utils/Constants.sol
  airdrops/tests/utils/Types.sol
  airdrops/tests/utils/Utilities.sol
  airdrops/tests/utils/Utils.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: run check deps only sunday
  .github/workflows/check-deps.yml
Due: prettier --cache --write

ci: integrate syncpack for verifying dependencies versions (#1314)
  .github/workflows/check-deps.yml
  .syncpackrc.json
  CONTRIBUTING.md
  airdrops/bun.lock
  airdrops/package.json
  bun.lock
  flow/bun.lock
  flow/package.json
  justfile
  lockup/bun.lock
  lockup/package.json
  package.json
  utils/bun.lock
  utils/package.json
Due: prettier --cache --write

ci: pass meaningful names
  .github/workflows/ci-airdrops.yml
  .github/workflows/ci-flow.yml
  .github/workflows/ci-lockup.yml
  .github/workflows/ci-module.yml
  .github/workflows/ci-utils.yml
Due: prettier --cache --write

ci: dry fy (#1305)
  .github/workflows/ci-airdrops.yml
  .github/workflows/ci-flow.yml
  .github/workflows/ci-lockup.yml
  .github/workflows/ci-module.yml
  .github/workflows/ci-utils.yml
  .prettierrc.js
  airdrops/foundry.toml
  airdrops/tests/fork/Fork.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use foundry cheatcodes to generate EIP-712 signature (#1316)
  airdrops/tests/Base.t.sol
  airdrops/tests/integration/Integration.t.sol
  airdrops/tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  airdrops/tests/integration/concrete/campaign/shared/domain-separator/domainSeparator.t.sol
  airdrops/tests/unit/SignatureHash.t.sol
  airdrops/tests/utils/Constants.sol
  airdrops/tests/utils/Types.sol
  airdrops/tests/utils/Utilities.sol
  airdrops/tests/utils/Utils.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(airdrops): exclude blacklisted recipients from claiming airdrop
  airdrops/tests/fork/merkle-campaign/MerkleBase.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: exclude sender and recipient from being the lockup contract
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/LockupHandler.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(lockup): exclude sender and recipient from being the lockup contract
  lockup/tests/invariant/handlers/BaseHandler.sol
  lockup/tests/invariant/handlers/LockupHandler.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lock
  foundry.toml
  package.json
Due: prettier --cache --write

feat: add deploy commands
  airdrops/justfile
  flow/justfile
  justfile
  lockup/justfile
  utils/justfile
Due: none

ci: run ci on PRs against main and staging
  .github/workflows/ci-airdrops.yml
  .github/workflows/ci-flow.yml
  .github/workflows/ci-lockup.yml
  .github/workflows/ci-utils.yml
Due: prettier --cache --write

docs: fix comment over merkle proof verification
  airdrops/src/abstracts/SablierMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: correct ignore paths in codecov
  codecov.yml
Due: prettier --cache --write

docs: fix comment over merkle proof verification (#1323)
  airdrops/src/abstracts/SablierMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add deploy commands (#1320)
  airdrops/justfile
  flow/justfile
  justfile
  lockup/justfile
  utils/justfile
Due: none

chore: correct ignore paths in codecov (#1321)
  codecov.yml
Due: prettier --cache --write

test(lockup): fix tokenURI tests
  lockup/tests/integration/concrete/lockup/token-uri/tokenURI.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils chore: add monad network script(airdrops): add lockup and token arguments to CreateMerkleLT and CreateMerkleLL scripts
  airdrops/bun.lock
  airdrops/package.json
  airdrops/scripts/solidity/CreateMerkleLL.s.sol
  airdrops/scripts/solidity/CreateMerkleLT.s.sol
  flow/bun.lock
  flow/package.json
  foundry.base.toml
  lockup/bun.lock
  lockup/package.json
  utils/CHANGELOG.md
  utils/package.json
  utils/src/tests/ChainId.sol
  utils/tests/fork/ChainlinkOracle.t.sol
  utils/tests/integration/fuzz/base-script/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add note to update lockup address
  lockup/tests/integration/concrete/lockup/token-uri/tokenURI.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(lockup): fix tokenURI tests (#1324)
  lockup/tests/integration/concrete/lockup/token-uri/tokenURI.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(utils): add Comptroller fork tests
  foundry.base.toml
  utils/tests/fork/Comptroller.t.sol
  utils/tests/integration/fuzz/base-script/BaseScript.t.sol
  utils/tests/mocks/BaseScriptMock.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(utils): skip test if fee recipient is zero address
  utils/tests/fork/Comptroller.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: Fix mathematical formula notation in LL stream documentation
  lockup/src/libraries/LockupMath.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: fix inequality sign (#1326)
  lockup/src/libraries/LockupMath.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: minor improvement for docs
  flow/src/SablierFlow.sol
  flow/src/interfaces/ISablierFlow.sol
  lockup/src/SablierLockup.sol
  lockup/src/interfaces/ISablierLockup.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: minor improvement for docs (#1329)
  flow/src/SablierFlow.sol
  flow/src/interfaces/ISablierFlow.sol
  lockup/src/SablierLockup.sol
  lockup/src/interfaces/ISablierLockup.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add ascii art for Flow, Flow NFT Descriptor and Comptroller
  flow/src/FlowNFTDescriptor.sol
  flow/src/SablierFlow.sol
  utils/src/SablierComptroller.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add ascii art for Flow, Flow NFT Descriptor and Comptroller (#1332)
  flow/src/FlowNFTDescriptor.sol
  flow/src/SablierFlow.sol
  utils/src/SablierComptroller.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

CI: migrate workflows to checkout v6
  .github/workflows/ci-multibuild.yml
  .github/workflows/claude.yml
Due: prettier --cache --write
