Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

refactor: restructure justfiles to use modules instead of wrapper recipes
  .claude/skills/foundry-testing/references/sablier-conventions.md
  CLAUDE.md
  CONTRIBUTING.md
  airdrops/CLAUDE.md
  flow/CLAUDE.md
  justfile
  lockup/CLAUDE.md
  utils/CLAUDE.md
Due: prettier --cache --write

refactor: extract PACKAGES variable and enhance prepare script
  justfile
  package.json
Due: prettier --cache --write

chore: exit if it fails
  package.json
Due: prettier --cache --write

script: refactor root justfile (#1411)
  .claude/skills/foundry-testing/references/sablier-conventions.md
  CLAUDE.md
  CONTRIBUTING.md
  airdrops/CLAUDE.md
  flow/CLAUDE.md
  justfile
  lockup/CLAUDE.md
  package.json
  utils/CLAUDE.md
Due: prettier --cache --write

build(airdrops): lower optimizer runs for optimized profile
  airdrops/foundry.toml
Due: none

add bob in justfile
  justfile
Due: none

fix(bob): use stETH balance instead of shares for wrapping in stake
  bob/scripts/solidity/DeployDeterministicLidoAdapter.s.sol
  bob/scripts/solidity/DeployLidoAdapter.s.sol
  bob/scripts/solidity/LidoAdapterConstants.s.sol
  bob/src/SablierLidoAdapter.sol
  bob/tests/bob/Base.t.sol
  bob/tests/bob/integration/concrete/lido-adapter-constructor/constructor.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(utils): split SafeOracle into safeOraclePrice and validateOracle
  utils/src/SablierComptroller.sol
  utils/src/libraries/SafeOracle.sol
  utils/src/mocks/ChainlinkMocks.sol
  utils/tests/integration/concrete/safe-oracle/safe-oracle-price/safeOraclePrice.t.sol
  utils/tests/integration/concrete/safe-oracle/safe-oracle-price/safeOraclePrice.tree
  utils/tests/integration/concrete/safe-oracle/validate-oracle/validateOracle.t.sol
  utils/tests/integration/concrete/safe-oracle/validate-oracle/validateOracle.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: use latest SafeOracle version
  lockup/src/libraries/LockupHelpers.sol
  lockup/src/libraries/LockupMath.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

tests: remove duplicated tests in convertUSDToWei
  utils/tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.t.sol
  utils/tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.tree
  utils/tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: don't revert on high values but return 0
  utils/src/libraries/SafeOracle.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add uint128 overflow oracle mock
  utils/src/mocks/ChainlinkMocks.sol
  utils/tests/integration/concrete/safe-oracle/safe-oracle-price/safeOraclePrice.t.sol
  utils/tests/integration/concrete/safe-oracle/safe-oracle-price/safeOraclePrice.tree
  utils/tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: comments
  utils/src/libraries/SafeOracle.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename SafeOracle_NegativePrice to SafeOracle_NotPositivePrice
  lockup/tests/integration/concrete/lockup-price-gated/create-with-durations-lpg/createWithDurationsLPG.t.sol
  utils/src/libraries/Errors.sol
  utils/src/libraries/SafeOracle.sol
  utils/tests/integration/concrete/safe-oracle/validate-oracle/validateOracle.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: return updatedAt from safeOraclePrice and move staleness checks to Comptroller
  lockup/src/libraries/LockupMath.sol
  utils/src/SablierComptroller.sol
  utils/src/libraries/SafeOracle.sol
  utils/src/mocks/ChainlinkMocks.sol
  utils/tests/Base.t.sol
  utils/tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.t.sol
  utils/tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.tree
  utils/tests/integration/concrete/safe-oracle/safe-oracle-price/safeOraclePrice.t.sol
  utils/tests/integration/concrete/safe-oracle/safe-oracle-price/safeOraclePrice.tree
  utils/tests/integration/concrete/safe-oracle/validate-oracle/validateOracle.t.sol
  utils/tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: safe oracle split (#1413)
  lockup/src/libraries/LockupHelpers.sol
  lockup/src/libraries/LockupMath.sol
  lockup/tests/integration/concrete/lockup-price-gated/create-with-durations-lpg/createWithDurationsLPG.t.sol
  utils/src/SablierComptroller.sol
  utils/src/libraries/Errors.sol
  utils/src/libraries/SafeOracle.sol
  utils/src/mocks/ChainlinkMocks.sol
  utils/tests/Base.t.sol
  utils/tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.t.sol
  utils/tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.tree
  utils/tests/integration/concrete/safe-oracle/safe-oracle-price/safeOraclePrice.t.sol
  utils/tests/integration/concrete/safe-oracle/safe-oracle-price/safeOraclePrice.tree
  utils/tests/integration/concrete/safe-oracle/validate-oracle/validateOracle.t.sol
  utils/tests/integration/concrete/safe-oracle/validate-oracle/validateOracle.tree
  utils/tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move claim type tests to the shared test base
  airdrops/tests/fork/merkle-campaign/MerkleBase.t.sol
  airdrops/tests/integration/Integration.t.sol
  airdrops/tests/integration/concrete/campaign/execute/claim-and-execute/claimAndExecute.t.sol
  airdrops/tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  airdrops/tests/integration/concrete/campaign/instant/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/instant/claim-via-attestation/claimViaAttestation.t.sol
  airdrops/tests/integration/concrete/campaign/instant/claim-via-sign/claimViaSig.t.sol
  airdrops/tests/integration/concrete/campaign/instant/claim/claim.t.sol
  airdrops/tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim-to/claimTo.tree
  airdrops/tests/integration/concrete/campaign/ll/claim-via-attestation/claimViaAttestation.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim-via-sign/claimViaSig.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim/claim.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim/claim.tree
  airdrops/tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  airdrops/tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/lt/claim-to/claimTo.tree
  airdrops/tests/integration/concrete/campaign/lt/claim-via-attestation/claimViaAttestation.t.sol
  airdrops/tests/integration/concrete/campaign/lt/claim-via-sign/claimViaSig.t.sol
  airdrops/tests/integration/concrete/campaign/lt/claim/claim.t.sol
  airdrops/tests/integration/concrete/campaign/lt/claim/claim.tree
  airdrops/tests/integration/concrete/campaign/shared/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/shared/claim-to/claimTo.tree
  airdrops/tests/integration/concrete/campaign/shared/claim-via-attestation/claimViaAttestation.t.sol
  airdrops/tests/integration/concrete/campaign/shared/claim-via-attestation/claimViaAttestation.tree
  airdrops/tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  airdrops/tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.tree
  airdrops/tests/integration/concrete/campaign/shared/claim/claim.t.sol
  airdrops/tests/integration/concrete/campaign/shared/claim/claim.tree
  airdrops/tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.tree
  airdrops/tests/integration/concrete/campaign/vca/claim-via-attestation/claimViaAttestation.t.sol
  airdrops/tests/integration/concrete/campaign/vca/claim-via-sign/claimViaSig.t.sol
  airdrops/tests/utils/Modifiers.sol
  utils/src/tests/BaseUtils.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: switch over createWithTimestamps in LPG model
  lockup/src/SablierBatchLockup.sol
  lockup/src/abstracts/SablierLockupPriceGated.sol
  lockup/src/interfaces/ISablierBatchLockup.sol
  lockup/src/interfaces/ISablierLockupPriceGated.sol
  lockup/src/types/BatchLockup.sol
  lockup/tests/Base.t.sol
  lockup/tests/fork/LockupPriceGated.t.sol
  lockup/tests/integration/Integration.t.sol
  lockup/tests/integration/concrete/batch-lockup/create-with-timestamps-lpg/createWithTimestampsLPG.t.sol
  lockup/tests/integration/concrete/batch-lockup/create-with-timestamps-lpg/createWithTimestampsLPG.tree
  lockup/tests/integration/concrete/lockup-price-gated/LockupPriceGated.t.sol
  lockup/tests/integration/concrete/lockup-price-gated/create-with-durations-lpg/createWithDurationsLPG.tree
  lockup/tests/integration/concrete/lockup-price-gated/create-with-timestamps-lpg/createWithTimestampsLPG.t.sol
  lockup/tests/integration/concrete/lockup-price-gated/create-with-timestamps-lpg/createWithTimestampsLPG.tree
  lockup/tests/integration/concrete/lockup-price-gated/streamed-amount-of/streamedAmountOf.t.sol
  lockup/tests/integration/fuzz/lockup-price-gated/LockupPriceGated.t.sol
  lockup/tests/integration/fuzz/lockup-price-gated/createWithTimestampsLPG.t.sol
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
  lockup/tests/utils/BatchLockupBuilder.sol
  lockup/tests/utils/Defaults.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(airdrops): rename expiration modifiers and deduplicate VCA test assertions
  airdrops/tests/integration/Integration.t.sol
  airdrops/tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.tree
  airdrops/tests/integration/concrete/campaign/vca/claim-via-attestation/claimViaAttestation.t.sol
  airdrops/tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.tree
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  airdrops/tests/integration/fuzz/MerkleVCA.t.sol
  airdrops/tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: sort test modifiers alphabetically and increase optimizer runs
  bob/foundry.toml
  bob/tests/bob/utils/Modifiers.sol
  bob/tests/escrow/utils/Modifiers.sol
  utils/tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix(airdrops): correct claimViaSig tree indentation
  airdrops/tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.tree
Due: none

refactor(bob): improve validation checks and oracle handling
  bob/scripts/solidity/DeployDeterministicLidoAdapter.s.sol
  bob/scripts/solidity/DeployLidoAdapter.s.sol
  bob/src/BobVaultShare.sol
  bob/src/SablierBob.sol
  bob/src/SablierLidoAdapter.sol
  bob/src/abstracts/SablierBobState.sol
  bob/src/interfaces/ISablierBob.sol
  bob/src/interfaces/ISablierBobState.sol
  bob/src/libraries/Errors.sol
  bob/src/types/Bob.sol
  bob/tests/bob/Base.t.sol
  bob/tests/bob/integration/Integration.t.sol
  bob/tests/bob/integration/concrete/bob-vault-share/bobVaultShare.t.sol
  bob/tests/bob/integration/concrete/bob-vault-share/constructor.t.sol
  bob/tests/bob/integration/concrete/bob-vault-share/metadata.t.sol
  bob/tests/bob/integration/concrete/bob-vault-share/update.t.sol
  bob/tests/bob/integration/concrete/create-vault/createVault.t.sol
  bob/tests/bob/integration/concrete/create-vault/createVault.tree
  bob/tests/bob/integration/concrete/enter/enter.t.sol
  bob/tests/bob/integration/concrete/exit-within-grace-period/exitWithinGracePeriod.t.sol
  bob/tests/bob/integration/concrete/lido-adapter-constructor/constructor.t.sol
  bob/tests/bob/integration/concrete/set-default-adapter/setDefaultAdapter.t.sol
  bob/tests/bob/integration/concrete/sync/sync.t.sol
  bob/tests/bob/integration/concrete/sync/sync.tree
  bob/tests/bob/mocks/MockOracle.sol
  bob/tests/bob/utils/Assertions.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add nonReentrant to all function prior to vault creations
  bob/src/SablierBob.sol
  bob/src/SablierEscrow.sol
  bob/src/abstracts/SablierEscrowState.sol
  bob/src/interfaces/ISablierEscrow.sol
  bob/src/libraries/Errors.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

style: just full-write
  bob/tests/bob/Base.t.sol
  bob/tests/bob/integration/concrete/sync/sync.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: mark defaultAdapters mapping as `internal` and a getter
  bob/src/SablierBob.sol
  bob/src/abstracts/SablierBobState.sol
  bob/src/interfaces/ISablierBob.sol
  bob/src/interfaces/ISablierBobState.sol
  bob/tests/bob/integration/concrete/set-default-adapter/setDefaultAdapter.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: adapter polishes
  bob/src/SablierLidoAdapter.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

style: format
  bob/tests/bob/integration/concrete/set-default-adapter/setDefaultAdapter.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add _safeTokenSymbol function in bob
  bob/src/SablierBob.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename variable to "expiryTime"
  bob/src/SablierEscrow.sol
  bob/src/abstracts/SablierEscrowState.sol
  bob/src/interfaces/ISablierBob.sol
  bob/src/interfaces/ISablierEscrow.sol
  bob/src/interfaces/ISablierEscrowState.sol
  bob/src/libraries/Errors.sol
  bob/src/types/Escrow.sol
  bob/tests/escrow/Base.t.sol
  bob/tests/escrow/integration/Integration.t.sol
  bob/tests/escrow/integration/concrete/cancel-order/cancelOrder.t.sol
  bob/tests/escrow/integration/concrete/create-order/createOrder.t.sol
  bob/tests/escrow/integration/concrete/fill-order/fillOrder.t.sol
  bob/tests/escrow/integration/concrete/getters/getters.t.sol
  bob/tests/escrow/utils/Assertions.sol
  bob/tests/escrow/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: bulloak fix
  bob/tests/escrow/integration/Integration.t.sol
  bob/tests/escrow/integration/concrete/create-order/createOrder.tree
  bob/tests/escrow/integration/concrete/getters/getters.t.sol
  bob/tests/escrow/integration/concrete/getters/getters.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: validate the vauld id in the shares contract
  bob/src/BobVaultShare.sol
  bob/src/SablierBob.sol
  bob/src/SablierLidoAdapter.sol
  bob/src/interfaces/IBobVaultShare.sol
  bob/src/interfaces/ISablierBob.sol
  bob/src/interfaces/ISablierBobAdapter.sol
  bob/src/libraries/Errors.sol
  bob/tests/bob/integration/concrete/bob-vault-share/bobVaultShare.t.sol
  bob/tests/bob/integration/concrete/bob-vault-share/update.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add one more field in the status
  bob/src/BobVaultShare.sol
  bob/src/SablierBob.sol
  bob/src/abstracts/SablierBobState.sol
  bob/src/libraries/Errors.sol
  bob/src/types/Bob.sol
  bob/tests/bob/integration/Integration.t.sol
  bob/tests/bob/integration/concrete/redeem/redeem.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: update bob docs and deduplicate modifiers
  CONTRIBUTING.md
  bob/CLAUDE.md
  bob/tests/escrow/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: polishes
  lockup/tests/integration/Integration.t.sol
  lockup/tests/integration/concrete/lockup-price-gated/create-with-timestamps-lpg/createWithTimestampsLPG.t.sol
  lockup/tests/integration/concrete/lockup-price-gated/create-with-timestamps-lpg/createWithTimestampsLPG.tree
  lockup/tests/integration/concrete/lockup/create-with-timestamps/createWithTimestamps.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: destructure safeOraclePrice return value
  bob/src/SablierBob.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(airdrops): inherit Claim_Integration_Test in ClaimAndExecute_MerkleExecute_Integration_Test
  airdrops/tests/integration/concrete/campaign/execute/claim-and-execute/claimAndExecute.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(bob): address PR review comments and improve safety
  bob/src/BobVaultShare.sol
  bob/src/SablierBob.sol
  bob/src/interfaces/IBobVaultShare.sol
  bob/src/interfaces/ISablierBob.sol
  bob/src/types/Bob.sol
  bob/tests/bob/integration/concrete/unstake-full-amount/unstakeFullAmount.t.sol
  bob/tests/bob/integration/concrete/unstake-full-amount/unstakeFullAmount.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs(bob): add manual settlement section and refine redeem NatSpec
  bob/SECURITY.md
  bob/src/interfaces/ISablierBob.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt
