Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs(flow): fix comment
  flow/tests/invariant/Invariant.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(airdrops): add invariant tests for merkle contracts
  airdrops/tests/Base.t.sol
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleInstantHandler.sol
  airdrops/tests/invariant/handlers/MerkleLLHandler.sol
  airdrops/tests/invariant/handlers/MerkleLTHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
  airdrops/tests/utils/Fuzzers.sol
  bun.lock
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: include invariant test in airdrops
  .github/workflows/ci-airdrops.yml
Due: prettier --cache --write

chore: fix solhint
  .solhint.json
  airdrops/bun.lock
  airdrops/tests/.solhint.json
  bun.lock
  flow/bun.lock
  flow/tests/.solhint.json
  flow/tests/fork/Flow.t.sol
  flow/tests/fork/Fork.t.sol
  lockup/bun.lock
  lockup/tests/.solhint.json
  utils/.solhint.json
  utils/bun.lock
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/tests/.solhint.json
  utils/tests/Base.t.sol
  utils/tests/integration/concrete/comptroller/initialize/initialize.t.sol
  utils/tests/integration/concrete/comptroller/upgrade-to-and-call/upgradeToAndCall.t.sol
  utils/tests/invariant/Comptroller.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add chainlink oracle for Monad and HyperEVM
  airdrops/bun.lock
  bun.lock
  flow/bun.lock
  foundry.base.toml
  lockup/bun.lock
  utils/bun.lock
  utils/src/tests/BaseScript.sol
  utils/tests/fork/ChainlinkOracle.t.sol
  utils/tests/integration/fuzz/base-script/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add chainlink oracle for Monad and HyperEVM (#1355)
  airdrops/bun.lock
  bun.lock
  flow/bun.lock
  foundry.base.toml
  lockup/bun.lock
  utils/bun.lock
  utils/src/tests/BaseScript.sol
  utils/tests/fork/ChainlinkOracle.t.sol
  utils/tests/integration/fuzz/base-script/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix(utils): chainlink oracles for monad and hyperevm
  utils/src/tests/BaseScript.sol
  utils/tests/integration/fuzz/base-script/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add denergy rpc endpoint build: bump evm-utils script: remove salt from DeployProtocol
  bun.lock
  foundry.toml
  package.json
  scripts/solidity/DeployProtocol.s.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: fix logical mistake in Helpers.sol
  lockup/src/libraries/Helpers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: fix logical mistake in Helpers.sol (#1361)
  lockup/src/libraries/Helpers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat(airdrops): optional redistribution of forgone tokens in MerkleVCA contract
  airdrops/scripts/solidity/CreateMerkleVCA.s.sol
  airdrops/src/SablierFactoryMerkleVCA.sol
  airdrops/src/SablierMerkleVCA.sol
  airdrops/src/interfaces/ISablierFactoryMerkleVCA.sol
  airdrops/src/interfaces/ISablierMerkleVCA.sol
  airdrops/src/libraries/Errors.sol
  airdrops/src/types/DataTypes.sol
  airdrops/tests/Base.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleVCA.t.sol
  airdrops/tests/integration/Integration.t.sol
  airdrops/tests/integration/concrete/campaign/vca/calculate-redistribution-rewards-per-token/calculateRedistributionRewardsPerToken.t.sol
  airdrops/tests/integration/concrete/campaign/vca/calculate-redistribution-rewards-per-token/calculateRedistributionRewardsPerToken.tree
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.tree
  airdrops/tests/integration/concrete/campaign/vca/constructor.t.sol
  airdrops/tests/integration/concrete/campaign/vca/enable-redistribution/enableRedistribution.t.sol
  airdrops/tests/integration/concrete/campaign/vca/enable-redistribution/enableRedistribution.tree
  airdrops/tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.tree
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  airdrops/tests/integration/fuzz/MerkleVCA.t.sol
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleInstantHandler.sol
  airdrops/tests/invariant/handlers/MerkleLLHandler.sol
  airdrops/tests/invariant/handlers/MerkleLTHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
  airdrops/tests/utils/Constants.sol
  airdrops/tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: remove unchecked and move event to if block
  airdrops/src/SablierMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(airdrops): simplify redistribution rewards calculation
  airdrops/src/SablierMerkleVCA.sol
  airdrops/src/interfaces/ISablierMerkleVCA.sol
  airdrops/src/types/DataTypes.sol
  airdrops/tests/Base.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleBase.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleVCA.t.sol
  airdrops/tests/integration/concrete/campaign/vca/calculate-redistribution-rewards/calculateRedistributionRewards.t.sol
  airdrops/tests/integration/concrete/campaign/vca/calculate-redistribution-rewards/calculateRedistributionRewards.tree
  airdrops/tests/integration/fuzz/Fuzz.t.sol
  airdrops/tests/integration/fuzz/MerkleVCA.t.sol
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
  airdrops/tests/utils/Constants.sol
  airdrops/tests/utils/Fuzzers.sol
  airdrops/tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: simplify redistribution invariant checks
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comments
  airdrops/src/SablierMerkleVCA.sol
  airdrops/src/interfaces/ISablierMerkleVCA.sol
  airdrops/src/types/DataTypes.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix balance invariant
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fork): use separate function name for each chain
  utils/tests/fork/ChainlinkOracle.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add fee assumption
  SECURITY.md
Due: prettier --cache --write

docs: add fee assumption (#1364)
  SECURITY.md
Due: prettier --cache --write

CI: migrate workflows to checkout v6 (#1334)
  .github/workflows/ci-multibuild.yml
  .github/workflows/claude.yml
Due: prettier --cache --write

ci: bump foundry version
  .github/workflows/ci-module.yml
Due: prettier --cache --write

ci: bump foundry version (#1365)
  .github/workflows/ci-module.yml
Due: prettier --cache --write

feat: add unlock granularity to Lockup Linear streams
  lockup/scripts/solidity/Init.s.sol
  lockup/src/SablierBatchLockup.sol
  lockup/src/SablierLockup.sol
  lockup/src/abstracts/SablierLockupLinear.sol
  lockup/src/abstracts/SablierLockupState.sol
  lockup/src/interfaces/ISablierLockupLinear.sol
  lockup/src/interfaces/ISablierLockupState.sol
  lockup/src/libraries/Errors.sol
  lockup/src/libraries/Helpers.sol
  lockup/src/libraries/LockupMath.sol
  lockup/src/types/BatchLockup.sol
  lockup/src/types/LockupDynamic.sol
  lockup/src/types/LockupLinear.sol
  lockup/src/types/LockupTranched.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix(test): correct fuzz parameter in streamedAmountOf tests
  tests/integration/fuzz/lockup-linear/streamedAmountOf.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fork): track aggregate amount separately
  tests/fork/Lockup.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(lockup-linear): support unlock granularity in integration and fork tests
  lockup/src/libraries/LockupMath.sol
  lockup/tests/Base.t.sol
  lockup/tests/fork/Fork.t.sol
  lockup/tests/fork/Lockup.t.sol
  lockup/tests/fork/LockupLinear.t.sol
  lockup/tests/integration/Integration.t.sol
  lockup/tests/integration/concrete/batch-lockup/create-with-timestamps-ll/createWithTimestamps.t.sol
  lockup/tests/integration/concrete/batch/batch.t.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.tree
  lockup/tests/integration/concrete/lockup-linear/get-unlock-granularity/getUnlockGranularity.t.sol
  lockup/tests/integration/concrete/lockup-linear/get-unlock-granularity/getUnlockGranularity.tree
  lockup/tests/integration/concrete/lockup-linear/streamed-amount-of/streamedAmountOf.t.sol
  lockup/tests/integration/concrete/lockup-linear/streamed-amount-of/streamedAmountOf.tree
  lockup/tests/integration/concrete/lockup/create-with-timestamps/createWithTimestamps.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  lockup/tests/integration/fuzz/lockup-linear/streamedAmountOf.t.sol
  lockup/tests/integration/fuzz/lockup-linear/withdrawableAmountOf.t.sol
  lockup/tests/utils/BatchLockupBuilder.sol
  lockup/tests/utils/Calculations.sol
  lockup/tests/utils/Constants.sol
  lockup/tests/utils/Defaults.sol
  lockup/tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix(lockup-test): incorrect return value in calculate streamed amount function when start time equals block time
  tests/utils/Calculations.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add new invariant to lockup linear fix(lockup-test): incorrect return value in calculate streamed amount function when start time equals block time
  lockup/tests/invariant/Invariant.t.sol
  lockup/tests/invariant/README.md
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
  lockup/tests/utils/Calculations.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: delete gasAfter variable to prevent stack error
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(utils): rename data to targetCallData in execute function
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/tests/integration/concrete/comptroller/execute/execute.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(airdrops): rename params to campaignParams in create functions and events
  airdrops/scripts/solidity/CreateMerkleInstant.s.sol
  airdrops/scripts/solidity/CreateMerkleLL.s.sol
  airdrops/scripts/solidity/CreateMerkleLT.s.sol
  airdrops/scripts/solidity/CreateMerkleVCA.s.sol
  airdrops/src/SablierFactoryMerkleInstant.sol
  airdrops/src/SablierFactoryMerkleLL.sol
  airdrops/src/SablierFactoryMerkleLT.sol
  airdrops/src/SablierFactoryMerkleVCA.sol
  airdrops/src/SablierMerkleInstant.sol
  airdrops/src/SablierMerkleLL.sol
  airdrops/src/SablierMerkleLT.sol
  airdrops/src/SablierMerkleVCA.sol
  airdrops/src/interfaces/ISablierFactoryMerkleInstant.sol
  airdrops/src/interfaces/ISablierFactoryMerkleLL.sol
  airdrops/src/interfaces/ISablierFactoryMerkleLT.sol
  airdrops/src/interfaces/ISablierFactoryMerkleVCA.sol
  airdrops/tests/fork/merkle-campaign/MerkleInstant.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleLL.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleLT.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  airdrops/tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  airdrops/tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  airdrops/tests/integration/fuzz/MerkleInstant.t.sol
  airdrops/tests/integration/fuzz/MerkleLL.t.sol
  airdrops/tests/integration/fuzz/MerkleLT.t.sol
  airdrops/tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: import using filepath
  airdrops/bun.lock
  airdrops/package.json
  flow/bun.lock
  flow/package.json
  lockup/bun.lock
  lockup/package.json
Due: prettier --cache --write

refactor: make merkle ll compatible with unlock granularity
  airdrops/src/SablierMerkleLL.sol
  airdrops/src/interfaces/ISablierMerkleLL.sol
  airdrops/src/types/DataTypes.sol
  airdrops/tests/Base.t.sol
  airdrops/tests/fork/Fork.t.sol
  airdrops/tests/integration/concrete/campaign/ll/constructor.t.sol
  airdrops/tests/integration/fuzz/MerkleLL.t.sol
  airdrops/tests/utils/Constants.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --cache --write: any of: *.{json,md,svg,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
