Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

ci: rename tree-path to test-dir
  .github/workflows/ci.yml
Due: prettier --cache --write

version as salt for nftDescriptor
  scripts/solidity/DeployDeterministicNFTDescriptor.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

polish explanatory comment
  scripts/solidity/DeployDeterministicNFTDescriptor.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Deployment preparation (#1290)
  foundry.toml
  package.json
  scripts/solidity/DeployDeterministicNFTDescriptor.s.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Deployment preparation (#470)
  foundry.toml
  package.json
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicNftDescriptor.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployProtocol.s.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: refactor changelog
  CHANGELOG.md
Due: prettier --cache --write

chore: include "Lockup" in nft descriptor scripts
  scripts/solidity/DeployDeterministicLockupNFTDescriptor.s.sol
  scripts/solidity/DeployLockupNFTDescriptor.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: include "Lockup" in nft descriptor scripts (#1291)
  scripts/solidity/DeployDeterministicLockupNFTDescriptor.s.sol
  scripts/solidity/DeployLockupNFTDescriptor.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

add nft descriptor normal script (#471)
  scripts/solidity/DeployDeterministicFlowNFTDescriptor.s.sol
  scripts/solidity/DeployFlowNFTDescriptor.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add nft descriptor addresses
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/LockupNFTDescriptorAddresses.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add nft descriptor addresses (#1292)
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/LockupNFTDescriptorAddresses.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: add broadcast modifier in protocol scripts
  foundry.toml
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployProtocol.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: add broadcast modifier in protocol scripts (#1293)
  foundry.toml
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployProtocol.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: misc
  .gitignore
  foundry.toml
  scripts/solidity/LockupNFTDescriptorAddresses.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add zksync nft descriptor
  scripts/solidity/LockupNFTDescriptorAddresses.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add missing NFT descriptors
  scripts/solidity/NFTDescriptorAddresses.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: update rpc endpoints
  foundry.toml
Due: none

test: update version in salt test
  tests/utils/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: hyperevm nft descriptor
  scripts/solidity/NFTDescriptorAddresses.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: rename contract in deploy protocol script
  scripts/solidity/DeployDeterministicProtocol.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

update solidity scripts and fork tests (#186)
  foundry.toml
  scripts/solidity/CreateMerkleInstant.s.sol
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleLT.s.sol
  scripts/solidity/CreateMerkleVCA.s.sol
  tests/fork/Fork.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/utils/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: use "direct" instead of "lb" for endpoints
  .github/workflows/ci.yml
  foundry.toml
  tests/fork/Fork.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: add previous nft descriptor for hyperevm
  scripts/solidity/LockupNFTDescriptorAddresses.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

bump deps
  bun.lock
  tests/utils/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: fix secrets
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

build: use "direct" instead of "lb" for endpoints (#1294)
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  bun.lock
  foundry.toml
  tests/fork/Fork.t.sol
  tests/utils/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: use "direct" instead of "lb" for endpoints (#1294)
  foundry.toml
  tests/fork/Fork.t.sol
  tests/utils/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: add fork secret for coverage job
  .github/workflows/ci.yml
Due: prettier --cache --write

ci: remove fork path from coverage
  .github/workflows/ci.yml
Due: prettier --cache --write

ci: remove fork path from coverage (#1295)
  .github/workflows/ci.yml
Due: prettier --cache --write
