Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

refactor: fee query functions (#454)
  LICENSE-BUSL.md
  LICENSE.md
  README.md
  bun.lock
  package.json
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/concrete/calculate-min-fee-wei-for/calculateMinFeeWeiFor.t.sol
  tests/integration/concrete/calculate-min-fee-wei-for/calculateMinFeeWeiFor.tree
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/README.md
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: emit `msg.sender` for `FEE_MANAGEMENT_ROLE` controlled functions (#47)
  src/SablierComptroller.sol
  src/interfaces/ISablierComptroller.sol
  tests/integration/concrete/comptroller/disable-custom-fee-usd-for/disableCustomFeeUSDFor.t.sol
  tests/integration/concrete/comptroller/set-custom-fee-usd-for/setCustomFeeUSDFor.t.sol
  tests/integration/concrete/comptroller/set-min-fee-usd/setMinFeeUSD.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: check fee recipient not zero address (#48)
  src/SablierComptroller.sol
  src/interfaces/ISablierComptroller.sol
  src/libraries/Errors.sol
  tests/integration/concrete/comptroller/transfer-fees/transferFees.t.sol
  tests/integration/concrete/comptroller/transfer-fees/transferFees.tree
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: avoid precision loss in _convertUSDFeeToWei (#49)
  src/SablierComptroller.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: use try/catch block when oracle is called (#50)
  src/SablierComptroller.sol
  src/mocks/ChainlinkMocks.sol
  tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.t.sol
  tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.tree
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: set bytecode_hash to ipfs
  foundry.toml
Due: none

refactor(tests): load SVG and tokenURI strings from files using vm.readFile
  tests/data/expected_svg_1.svg
  tests/data/expected_svg_2.svg
  tests/data/expected_svg_3.svg
  tests/data/token_uri.json
  tests/integration/concrete/lockup/token-uri/tokenURI.t.sol
  tests/unit/concrete/nft-descriptor/generateSVG.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: move price check in try/catch
  src/SablierComptroller.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: oracle price negative
  src/mocks/ChainlinkMocks.sol
  tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.t.sol
  tests/integration/concrete/comptroller/convert-usd-fee-to-wei/convertUSDFeeToWei.tree
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: revert comptroller constructor if minFeeUSD exceeds max fee (#51)
  src/SablierComptroller.sol
  tests/integration/concrete/comptroller/constructor.t.sol
  tests/integration/concrete/comptroller/constructor/constructor.t.sol
  tests/integration/concrete/comptroller/constructor/constructor.tree
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: emit both previous and new fees in disable and set custom fee functions (#52)
  src/SablierComptroller.sol
  src/interfaces/ISablierComptroller.sol
  tests/Base.t.sol
  tests/integration/concrete/comptroller/disable-custom-fee-usd-for/disableCustomFeeUSDFor.t.sol
  tests/integration/concrete/comptroller/set-custom-fee-usd-for/setCustomFeeUSDFor.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add support for interface ID for comptroller (#53)
  .solhint.json
  src/Comptrollerable.sol
  src/SablierComptroller.sol
  src/interfaces/IComptrollerable.sol
  src/interfaces/ISablierComptroller.sol
  src/libraries/Errors.sol
  src/mocks/ComptrollerMock.sol
  tests/integration/concrete/adminable/constructor.t.sol
  tests/integration/concrete/comptroller/constructor/constructor.t.sol
  tests/integration/concrete/comptroller/execute/execute.t.sol
  tests/integration/concrete/comptroller/supports-interface/supportsInterface.t.sol
  tests/integration/concrete/comptroller/supports-interface/supportsInterface.tree
  tests/integration/concrete/comptrollerable/constructor.t.sol
  tests/integration/concrete/comptrollerable/set-comptroller/setComptroller.t.sol
  tests/integration/concrete/comptrollerable/set-comptroller/setComptroller.tree
  tests/integration/concrete/comptrollerable/transfer-fees-to-comptroller/transferFeesToComptroller.t.sol
  tests/integration/concrete/comptrollerable/transfer-fees-to-comptroller/transferFeesToComptroller.tree
  tests/integration/concrete/role-adminable/constructor.t.sol
  tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: load SVG from external file using vm.readFile
  tests/unit/concrete/nft-descriptor/generateSVG.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: emit creator address in create events (#456)
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/fuzz/create.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: emit funder in Lockup create events feat: emit event in BatchLockup create functions
  src/SablierBatchLockup.sol
  src/abstracts/SablierLockupDynamic.sol
  src/abstracts/SablierLockupLinear.sol
  src/abstracts/SablierLockupTranched.sol
  src/interfaces/ISablierBatchLockup.sol
  src/types/Lockup.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ld/createWithDurationsLD.tree
  tests/integration/concrete/batch-lockup/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ll/createWithDurationsLL.tree
  tests/integration/concrete/batch-lockup/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-lt/createWithDurationsLT.tree
  tests/integration/concrete/batch-lockup/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/batch-lockup/create-with-timestamps-ll/createWithTimestamps.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-ll/createWithTimestamps.tree
  tests/integration/concrete/batch-lockup/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-lt/createWithTimestampsLT.tree
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Defaults.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename to CreateBatchLockup
  src/SablierBatchLockup.sol
  src/interfaces/ISablierBatchLockup.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ld/createWithDurationsLD.tree
  tests/integration/concrete/batch-lockup/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ll/createWithDurationsLL.tree
  tests/integration/concrete/batch-lockup/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-lt/createWithDurationsLT.tree
  tests/integration/concrete/batch-lockup/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/batch-lockup/create-with-timestamps-ll/createWithTimestamps.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-ll/createWithTimestamps.tree
  tests/integration/concrete/batch-lockup/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-lt/createWithTimestampsLT.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add `CreateBatchLockup` event in `BatchLockup` (#1274)
  src/SablierBatchLockup.sol
  src/abstracts/SablierLockupDynamic.sol
  src/abstracts/SablierLockupLinear.sol
  src/abstracts/SablierLockupTranched.sol
  src/interfaces/ISablierBatchLockup.sol
  src/types/Lockup.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ld/createWithDurationsLD.tree
  tests/integration/concrete/batch-lockup/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ll/createWithDurationsLL.tree
  tests/integration/concrete/batch-lockup/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-lt/createWithDurationsLT.tree
  tests/integration/concrete/batch-lockup/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/batch-lockup/create-with-timestamps-ll/createWithTimestamps.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-ll/createWithTimestamps.tree
  tests/integration/concrete/batch-lockup/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-lt/createWithTimestampsLT.tree
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Defaults.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update ens subname in license
  LICENSE-BUSL.md
  package.json
Due: prettier --cache --write

chore: use plural for ens subname
  LICENSE-BUSL.md
Due: prettier --cache --write

Merge pull request #457 from sablier-labs/docs/update-license-ens
  LICENSE-BUSL.md
  package.json
Due: prettier --cache --write

docs: update license ens (#1275)
  LICENSE-BUSL.md
  package.json
Due: prettier --cache --write

build: bump solhint
  .lintstagedrc.js
  .solhint.json
  bun.lock
  package.json
  src/libraries/LockupMath.sol
  tests/.solhint.json
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update ens subname in license
  LICENSE-BUSL.md
Due: prettier --cache --write
