Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: merging conflicts when rebasing from main
  .github/workflows/ci-deep.yml
  .github/workflows/ci-multibuild.yml
  CONTRIBUTING.md
  scripts/solidity/Init.s.sol
  scripts/solidity/LockupNFTDescriptorAddresses.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: release 3.0.0
  CHANGELOG.md
Due: prettier --cache --write

docs: polish changelog
  CHANGELOG.md
Due: prettier --cache --write

chore: merging conflicts when rebasing from main
  .env.example
  .github/workflows/ci-fork.yml
  CONTRIBUTING.md
  README.md
  foundry.toml
Due: prettier --cache --write

docs: release 2.0.0
  CHANGELOG.md
Due: prettier --cache --write

docs: update "forge install" commands
  README.md
Due: prettier --cache --write

docs: remove forge-std update from changelog docs: remove remappings guide from readme
  CHANGELOG.md
  README.md
Due: prettier --cache --write

docs: update forge install commands
  README.md
Due: prettier --cache --write

docs: include evm utils in forge install deps
  README.md
Due: prettier --cache --write

docs: reference deployments guide from docs
  README.md
Due: prettier --cache --write

docs: polish changelog v2.0.0
  CHANGELOG.md
  README.md
Due: prettier --cache --write

docs: add missing items from changelog ci: use full-check in ci-fork workflow test: update fork tests with latest contract address
  .github/workflows/ci-fork.yml
  CHANGELOG.md
  CONTRIBUTING.md
  scripts/Init.s.sol
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: remove not needed points
  CHANGELOG.md
Due: prettier --cache --write

docs: "zero" instead of "0"
  CHANGELOG.md
Due: prettier --cache --write

docs: update the 2.0.0 date
  CHANGELOG.md
Due: prettier --cache --write

bump version to 3.0.1
  package.json
  tests/utils/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add changelog for v3.0.1
  CHANGELOG.md
Due: prettier --cache --write

bump version to 3.0.1 (#1297)
  CHANGELOG.md
  package.json
  tests/utils/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

bump version to 2.0.1 (#188)
  CHANGELOG.md
  bun.lock
  package.json
  tests/utils/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update breaking changes
  CHANGELOG.md
Due: prettier --cache --write

add note about deprecation
  CHANGELOG.md
Due: prettier --cache --write

ci: pin foundry version
  .github/workflows/ci.yml
  bun.lock
Due: prettier --cache --write

docs: update breaking changes (#1299)
  .github/workflows/ci.yml
  CHANGELOG.md
  bun.lock
Due: prettier --cache --write

ci: remove hardcoded foundry version
  .github/workflows/ci.yml
Due: prettier --cache --write

test: remove unneeded solady import in test utils
  tests/utils/Utils.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove solady from deps
  bun.lock
  package.json
Due: prettier --cache --write

chore: bump 2.0.1
  CHANGELOG.md
  bun.lock
  package.json
  tests/utils/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: chain id library and chainlink oracle fork tests (#67)
  .github/workflows/ci.yml
  .vscode/settings.json
  foundry.toml
  src/tests/ChainId.sol
  tests/fork/ChainlinkOracle.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix fork set up helper function (#68)
  src/tests/BaseTest.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: bump version (#69)
  CHANGELOG.md
  package.json
  tests/integration/fuzz/base-script/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: move changed before added in changelog
  CHANGELOG.md
Due: prettier --cache --write

Merge pull request #475 from sablier-labs/chore/bump-evm-utils
  CHANGELOG.md
  bun.lock
  package.json
Due: prettier --cache --write

test: use forceApprove in fork tests (#476)
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: disallow symlinks in .gitignore
  .gitignore
Due: none

Path conditions:
  prettier --cache --write: any of: *.{json,md,svg,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
