Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils refactor: functions classification in Sablier Lockup
  bun.lock
  package.json
  src/SablierLockup.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: various configs improvements
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.js
  .lintstagedrc.yml
  .prettierignore
  .solhint.json
  package.json
Due: prettier --cache --write

chore: various configs improvements
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.js
  .lintstagedrc.yml
  .prettierignore
  package.json
Due: prettier --cache --write

ci: various configs improvements
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .solhint.json
  package.json
Due: prettier --cache --write

chore: clean up env.example
  .env.example
  hardhat.config.ts
Due: none

ci: temporarily use evm-lint.yml workflow
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

ci: temporarily use evm-lint.yml workflow
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

fix: sophscan verification
  bun.lockb
  hardhat.config.ts
  package.json
Due: prettier --cache --write

fix: sophscan verification (#1255)
  bun.lockb
  hardhat.config.ts
  package.json
Due: prettier --cache --write

chore: remove unused svg configs
  .lintstagedrc.js
  .prettierrc.yml
  .vscode/settings.json
  package.json
Due: prettier --cache --write

chore: just scripts
  .env.example
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.js
  .prettierrc.js
  .prettierrc.yml
  CONTRIBUTING.md
  bun.lock
  justfile
  package.json
Due: prettier --cache --write

feat: creates user with private key and adds ERC-1271 wallet mock (#31)
  .github/workflows/ci.yml
  package.json
  src/mocks/AdminableMock.sol
  src/mocks/BatchMock.sol
  src/mocks/ERC1271WalletMock.sol
  src/mocks/NoDelegateCallMock.sol
  src/mocks/RoleAdminableMock.sol
  src/tests/BaseTest.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish contributing guide
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  CONTRIBUTING.md
  bun.lock
  justfile
  package.json
Due: prettier --cache --write

build: bump devkit package
  bun.lock
Due: none

chore: fix repository format
  package.json
Due: prettier --cache --write

build: bump solhint
  .solhint.json
  bun.lock
  package.json
Due: prettier --cache --write

build: update dependencies
  bun.lock
  package.json
Due: prettier --cache --write

Merge pull request #1254 from sablier-labs/chore/just
  .env.example
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.js
  .prettierrc.js
  .prettierrc.yml
  CONTRIBUTING.md
  bun.lock
  justfile
  package.json
Due: prettier --cache --write

Merge pull request #1254 from sablier-labs/chore/just
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.js
  .prettierrc.js
  .prettierrc.yml
  CONTRIBUTING.md
  bun.lock
  justfile
  package.json
Due: prettier --cache --write

chore: just scripts (#448)
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  .lintstagedrc.js
  .prettierrc.js
  .prettierrc.yml
  CONTRIBUTING.md
  bun.lock
  justfile
  package.json
Due: prettier --cache --write

perf: polish transferFeesToComptroller
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  src/libraries/Errors.sol
  tests/integration/concrete/lockup/transfer-fees-to-comptroller/transferFeesToComptroller.t.sol
  tests/integration/concrete/lockup/transfer-fees-to-comptroller/transferFeesToComptroller.tree
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polishes
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/handlers/LockupComptrollerHandler.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils commit
  bun.lock
  package.json
  tests/integration/concrete/batch/batch.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: move chainlink to dependencies
  bun.lock
  package.json
Due: prettier --cache --write

build: bump evm-utils
  bun.lock
  package.json
  src/SablierLockup.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/lockup/transfer-fees-to-comptroller/transferFeesToComptroller.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: improve transferFeesToComptroller natspec
  src/interfaces/ISablierLockup.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --cache --write: any of: *.{json,md,svg,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
