Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove unused imports
  flow/tests/fork/Fork.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: error name
  lockup/src/libraries/Errors.sol
  lockup/src/libraries/LockupHelpers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: issue due to conflict merging
  lockup/src/libraries/Errors.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Rename helpers libraries and update error prefixes (#1370)
  airdrops/tests/fork/Fork.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim/claim.t.sol
  flow/src/SablierFlow.sol
  flow/src/libraries/FlowHelpers.sol
  flow/tests/fork/Fork.t.sol
  lockup/scripts/bash/prepare-artifacts.sh
  lockup/src/abstracts/SablierLockupDynamic.sol
  lockup/src/abstracts/SablierLockupLinear.sol
  lockup/src/abstracts/SablierLockupState.sol
  lockup/src/abstracts/SablierLockupTranched.sol
  lockup/src/libraries/Errors.sol
  lockup/src/libraries/LockupHelpers.sol
  lockup/tests/fork/Fork.t.sol
  lockup/tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  lockup/tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  lockup/tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  lockup/tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  lockup/tests/integration/concrete/lockup/create-with-timestamps/createWithTimestamps.t.sol
  lockup/tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  lockup/tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
  lockup/tests/utils/DeployOptimized.t.sol
  utils/src/tests/BaseConstants.sol
  utils/src/tests/BaseUtils.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

style: fix just full-check-all errors
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  bun.lock
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(invariant): nitpicks
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleInstantHandler.sol
  airdrops/tests/invariant/handlers/MerkleLLHandler.sol
  airdrops/tests/invariant/handlers/MerkleLTHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: include invariant test in airdrops
  .github/workflows/ci-airdrops.yml
Due: prettier --cache --write

test(airdrops): add invariant tests for merkle contracts
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleInstantHandler.sol
  airdrops/tests/invariant/handlers/MerkleLLHandler.sol
  airdrops/tests/invariant/handlers/MerkleLTHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
  bun.lock
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: fix import order
  airdrops/tests/invariant/handlers/BaseHandler.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

closes #1387
  flow/tests/invariant/Invariant.t.sol
  flow/tests/invariant/handlers/BaseHandler.sol
  flow/tests/invariant/handlers/FlowComptrollerHandler.sol
  flow/tests/invariant/handlers/FlowCreateHandler.sol
  flow/tests/invariant/handlers/FlowHandler.sol
  flow/tests/invariant/stores/Store.sol
  lockup/tests/invariant/Invariant.t.sol
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
  lockup/tests/invariant/handlers/LockupHandler.sol
  lockup/tests/invariant/stores/Store.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update changelog for v3.0.0
  CHANGELOG.md
Due: prettier --cache --write

closes #1387 (#1389)
  flow/tests/invariant/Invariant.t.sol
  flow/tests/invariant/handlers/BaseHandler.sol
  flow/tests/invariant/handlers/FlowComptrollerHandler.sol
  flow/tests/invariant/handlers/FlowCreateHandler.sol
  flow/tests/invariant/handlers/FlowHandler.sol
  flow/tests/invariant/stores/Store.sol
  lockup/tests/invariant/Invariant.t.sol
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
  lockup/tests/invariant/handlers/LockupHandler.sol
  lockup/tests/invariant/stores/Store.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: fix changelog for previous release
  airdrops/CHANGELOG.md
  flow/CHANGELOG.md
  lockup/CHANGELOG.md
Due: prettier --cache --write

shub's feedback
  flow/src/interfaces/ISablierFlow.sol
  flow/tests/integration/concrete/transfer-from-payable/transferFromPayable.t.sol
  flow/tests/integration/concrete/transfer-from-payable/transferFromPayable.tree
  lockup/src/SablierLockup.sol
  lockup/src/interfaces/ISablierLockup.sol
  lockup/tests/integration/concrete/lockup/transfer-from-payable/transferFromPayable.t.sol
  lockup/tests/integration/concrete/lockup/transfer-from-payable/transferFromPayable.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

format and polish natspec
  flow/src/interfaces/ISablierFlow.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

last polishes
  flow/src/interfaces/ISablierFlow.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat(lockup, flow): add transferFromPayable (#1384)
  flow/src/SablierFlow.sol
  flow/src/interfaces/ISablierFlow.sol
  flow/tests/integration/concrete/transfer-from-payable/transferFromPayable.t.sol
  flow/tests/integration/concrete/transfer-from-payable/transferFromPayable.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: don't use PRB math in LL calculation
  lockup/src/libraries/LockupMath.sol
  lockup/tests/utils/Calculations.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

explicit cast of granularity
  lockup/src/libraries/LockupMath.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

run just full-write
  lockup/src/libraries/LockupMath.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

address my feedback
  airdrops/tests/Base.t.sol
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
  airdrops/tests/utils/Utils.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

revert invariant and polishes
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: nitpicks
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/stores/Store.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

revert change in MerkleVCAHandler
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(airdrops): add invariant tests for merkle contracts (#1354)
  .github/workflows/ci-airdrops.yml
  airdrops/tests/Base.t.sol
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleInstantHandler.sol
  airdrops/tests/invariant/handlers/MerkleLLHandler.sol
  airdrops/tests/invariant/handlers/MerkleLTHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
  airdrops/tests/utils/Utils.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat(airdrops): optional redistribution of forgone tokens in MerkleVCA contract
  airdrops/scripts/solidity/CreateMerkleVCA.s.sol
  airdrops/src/SablierFactoryMerkleVCA.sol
  airdrops/src/SablierMerkleVCA.sol
  airdrops/src/interfaces/ISablierFactoryMerkleVCA.sol
  airdrops/src/interfaces/ISablierMerkleVCA.sol
  airdrops/src/libraries/Errors.sol
  airdrops/src/types/DataTypes.sol
  airdrops/tests/Base.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleBase.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleVCA.t.sol
  airdrops/tests/integration/Integration.t.sol
  airdrops/tests/integration/concrete/campaign/vca/calculate-redistribution-rewards/calculateRedistributionRewards.t.sol
  airdrops/tests/integration/concrete/campaign/vca/calculate-redistribution-rewards/calculateRedistributionRewards.tree
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.tree
  airdrops/tests/integration/concrete/campaign/vca/constructor.t.sol
  airdrops/tests/integration/concrete/campaign/vca/enable-redistribution/enableRedistribution.t.sol
  airdrops/tests/integration/concrete/campaign/vca/enable-redistribution/enableRedistribution.tree
  airdrops/tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.tree
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  airdrops/tests/integration/fuzz/Fuzz.t.sol
  airdrops/tests/integration/fuzz/MerkleVCA.t.sol
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleInstantHandler.sol
  airdrops/tests/invariant/handlers/MerkleLLHandler.sol
  airdrops/tests/invariant/handlers/MerkleLTHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
  airdrops/tests/utils/Constants.sol
  airdrops/tests/utils/Fuzzers.sol
  airdrops/tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

address some of my feedback
  airdrops/src/SablierMerkleVCA.sol
  airdrops/src/interfaces/ISablierMerkleVCA.sol
  airdrops/src/libraries/Errors.sol
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.tree
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(airdrops): deploy 2 campaigns in the vca inv tests
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleInstantHandler.sol
  airdrops/tests/invariant/handlers/MerkleLLHandler.sol
  airdrops/tests/invariant/handlers/MerkleLTHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: nitpicks
  airdrops/tests/invariant/handlers/BaseHandler.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat(airdrops): redistribution of forgone tokens in MerkleVCA contract (#1363)
  airdrops/scripts/solidity/CreateMerkleVCA.s.sol
  airdrops/src/SablierFactoryMerkleVCA.sol
  airdrops/src/SablierMerkleVCA.sol
  airdrops/src/interfaces/ISablierFactoryMerkleVCA.sol
  airdrops/src/interfaces/ISablierMerkleVCA.sol
  airdrops/src/libraries/Errors.sol
  airdrops/src/types/DataTypes.sol
  airdrops/tests/Base.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleBase.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleVCA.t.sol
  airdrops/tests/integration/Integration.t.sol
  airdrops/tests/integration/concrete/campaign/vca/calculate-redistribution-rewards/calculateRedistributionRewards.t.sol
  airdrops/tests/integration/concrete/campaign/vca/calculate-redistribution-rewards/calculateRedistributionRewards.tree
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/vca/claim-to/claimTo.tree
  airdrops/tests/integration/concrete/campaign/vca/constructor.t.sol
  airdrops/tests/integration/concrete/campaign/vca/enable-redistribution/enableRedistribution.t.sol
  airdrops/tests/integration/concrete/campaign/vca/enable-redistribution/enableRedistribution.tree
  airdrops/tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.tree
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  airdrops/tests/integration/fuzz/Fuzz.t.sol
  airdrops/tests/integration/fuzz/MerkleVCA.t.sol
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/README.md
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
  airdrops/tests/utils/Constants.sol
  airdrops/tests/utils/Fuzzers.sol
  airdrops/tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: drop blast chain support
  .claude/skills/solidity-coding/references/gas-optimization.md
  flow/scripts/solidity/DeployDeterministicFlow.s.sol
  flow/scripts/solidity/DeployDeterministicProtocol.s.sol
  flow/scripts/solidity/DeployProtocol.s.sol
  flow/scripts/solidity/FlowNFTDescriptorAddresses.sol
  foundry.base.toml
  lockup/scripts/solidity/LockupNFTDescriptorAddresses.sol
  lockup/tests/utils/EstimateMaxCount.sol
  utils/src/tests/ChainId.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ai: remove dot from trees mentioned in the btt skill
  .claude/skills/btt-testing/SKILL.md
  .claude/skills/btt-testing/references/sablier-conventions.md
Due: prettier --cache --write

ai: add more rules to btt-testing skill
  .claude/skills/btt-testing/SKILL.md
  .claude/skills/btt-testing/references/examples.md
Due: prettier --cache --write

chore: drop blast chain support (#1391)
  .claude/skills/solidity-coding/references/gas-optimization.md
  flow/scripts/solidity/DeployDeterministicFlow.s.sol
  flow/scripts/solidity/DeployDeterministicProtocol.s.sol
  flow/scripts/solidity/DeployProtocol.s.sol
  flow/scripts/solidity/FlowNFTDescriptorAddresses.sol
  foundry.base.toml
  lockup/scripts/solidity/LockupNFTDescriptorAddresses.sol
  lockup/tests/utils/EstimateMaxCount.sol
  utils/src/tests/ChainId.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: implement merkle execute campaign
  airdrops/src/SablierFactoryMerkleExecute.sol
  airdrops/src/SablierMerkleExecute.sol
  airdrops/src/interfaces/ISablierFactoryMerkleExecute.sol
  airdrops/src/interfaces/ISablierMerkleExecute.sol
  airdrops/src/libraries/Errors.sol
  airdrops/src/types/DataTypes.sol
  lockup/tests/integration/concrete/lockup/GranularityRounding.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: bump forge-std
  airdrops/bun.lock
  airdrops/package.json
  flow/bun.lock
  flow/package.json
  lockup/bun.lock
  lockup/package.json
  utils/bun.lock
  utils/package.json
Due: prettier --cache --write

chore: remove bash-scripting skill
  .claude/agents/solidity-engineer.md
  .claude/settings.json
  .claude/skills/bash-scripting/SKILL.md
  .claude/skills/bash-scripting/references/ci-patterns.md
Due: prettier --cache --write

chore: remove bash-scripting skill (#1392)
  .claude/agents/solidity-engineer.md
  .claude/settings.json
  .claude/skills/bash-scripting/SKILL.md
  .claude/skills/bash-scripting/references/ci-patterns.md
Due: prettier --cache --write

test: add merkle execute tests
  airdrops/tests/Base.t.sol
  airdrops/tests/integration/Integration.t.sol
  airdrops/tests/integration/concrete/campaign/execute/MerkleExecute.t.sol
  airdrops/tests/integration/concrete/campaign/execute/claim-and-execute/claimAndExecute.t.sol
  airdrops/tests/integration/concrete/campaign/execute/claim-and-execute/claimAndExecute.tree
  airdrops/tests/integration/concrete/factory/execute/compute-merkle-execute/computeMerkleExecute.t.sol
  airdrops/tests/integration/concrete/factory/execute/compute-merkle-execute/computeMerkleExecute.tree
  airdrops/tests/integration/concrete/factory/execute/create-merkle-execute/createMerkleExecute.t.sol
  airdrops/tests/integration/concrete/factory/execute/create-merkle-execute/createMerkleExecute.tree
  airdrops/tests/mocks/MockReentrantStaking.sol
  airdrops/tests/mocks/MockStaking.sol
  airdrops/tests/utils/DeployOptimized.sol
  airdrops/tests/utils/Modifiers.sol
  lockup/tests/integration/concrete/lockup/GranularityRounding.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: bump forge-std (#1394)
  airdrops/bun.lock
  airdrops/package.json
  flow/bun.lock
  flow/package.json
  lockup/bun.lock
  lockup/package.json
  utils/bun.lock
  utils/package.json
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: any of: *.{json,md,svg,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
