Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: enable Prettier formatting for YML workflows
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc.yml
Due: prettier --cache --write

ci: use new gha-utils repo
  .github/workflows/ci-deep.yml
Due: prettier --cache --write

refactor: prefix events with parent contract
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: use new gha-utils repo
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .github/workflows/cron-stale.yml
  .github/workflows/stale.yml
Due: prettier --cache --write

style: imports order rule in solhint
  .solhint.json
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/nft-descriptor/safe-token-symbol/safeTokenSymbol.t.sol
  tests/utils/BaseScript.t.sol
  tests/utils/DeployOptimized.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Utils.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: new cache (#21)
  .github/workflows/ci.yml
  .github/workflows/cron-stale.yml
  .vscode/extensions.json
  foundry.toml
Due: prettier --cache --write

ci: new cache
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  .github/workflows/cron-stale.yml
Due: prettier --cache --write

ci: add workflow_dispatch to ci fork
  .github/workflows/ci-fork.yml
Due: prettier --cache --write

ci: gha-utils in fork ci
  .github/workflows/ci-fork.yml
Due: prettier --cache --write

build: increase optimizer runs and remove mocks from test
  foundry.toml
Due: none

docs: fix typo (#439)
  README.md
Due: prettier --cache --write

refactor: `roleAdminable` contract (#20)
  src/RoleAdminable.sol
  src/interfaces/IRoleAdminable.sol
  src/libraries/Errors.sol
  src/mocks/AdminableMock.sol
  src/mocks/Receive.sol
  src/tests/BaseTest.sol
  tests/Unit.t.sol
  tests/concrete/adminable/Adminable.t.sol
  tests/concrete/adminable/only-admin/onlyAdmin.t.sol
  tests/concrete/adminable/only-admin/onlyAdmin.tree
  tests/concrete/adminable/transfer-admin/transferAdmin.t.sol
  tests/concrete/adminable/transfer-admin/transferAdmin.tree
  tests/concrete/adminable/transferAdmin.t.sol
  tests/concrete/base-script/BaseScript.t.sol
  tests/concrete/batch/batch.t.sol
  tests/concrete/role-adminable/RoleAdminable.t.sol
  tests/concrete/role-adminable/grant-role/grantRole.t.sol
  tests/concrete/role-adminable/grant-role/grantRole.tree
  tests/concrete/role-adminable/has-role-or-is-admin/hasRoleOrIsAdmin.t.sol
  tests/concrete/role-adminable/has-role-or-is-admin/hasRoleOrIsAdmin.tree
  tests/concrete/role-adminable/only-role/onlyRole.t.sol
  tests/concrete/role-adminable/only-role/onlyRole.tree
  tests/concrete/role-adminable/revoke-role/revokeRole.t.sol
  tests/concrete/role-adminable/revoke-role/revokeRole.tree
  tests/concrete/role-adminable/transfer-admin/transferAdmin.t.sol
  tests/concrete/role-adminable/transfer-admin/transferAdmin.tree
  tests/fuzz/adminable/transferAdmin.t.sol
  tests/fuzz/role-adminable/RoleAdminable.t.sol
  tests/fuzz/role-adminable/grantRole.t.sol
  tests/fuzz/role-adminable/hasRoleOrIsAdmin.t.sol
  tests/fuzz/role-adminable/revokeRole.t.sol
  tests/fuzz/role-adminable/transferAdmin.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lock
  package.json
  src/abstracts/SablierLockupBase.sol
  tests/integration/concrete/constructor.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: make _hasRoleOrIsAdmin internal
  src/RoleAdminable.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bumpo evm-utils docs: fix inherited components perf: use internal function to check role
  bun.lock
  package.json
  src/abstracts/SablierLockupBase.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: access based control over collect fee function (#1242)
  .solhint.json
  bun.lock
  package.json
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.tree
  tests/integration/concrete/nft-descriptor/safe-token-symbol/safeTokenSymbol.t.sol
  tests/utils/BaseScript.t.sol
  tests/utils/DeployOptimized.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
  tests/utils/Utils.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: role based access control mechanism (#438)
  .solhint.json
  bun.lock
  package.json
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/collect-fees/collectFees.tree
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove MAX_COUNT
  SECURITY.md
  scripts/bash/update-counts.sh
  scripts/solidity/DeployBatchLockup.s.sol
  scripts/solidity/DeployDeterministicBatchLockup.s.sol
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicNFTDescriptor.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployLockup.s.sol
  scripts/solidity/DeployNFTDescriptor.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/GenerateSVG.s.sol
  scripts/solidity/Init.s.sol
  scripts/solidity/MaxCount.s.sol
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  tests/Base.t.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.tree
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.tree
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Defaults.sol
  tests/utils/DeployOptimized.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove MAX_COUNT (#1243)
  SECURITY.md
  scripts/bash/update-counts.sh
  scripts/solidity/DeployBatchLockup.s.sol
  scripts/solidity/DeployDeterministicBatchLockup.s.sol
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicNFTDescriptor.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployLockup.s.sol
  scripts/solidity/DeployNFTDescriptor.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/GenerateSVG.s.sol
  scripts/solidity/Init.s.sol
  scripts/solidity/MaxCount.s.sol
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  tests/Base.t.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.tree
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.tree
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Defaults.sol
  tests/utils/DeployOptimized.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: refactor for code size optimization
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  src/libraries/LockupMath.sol
  src/types/DataTypes.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/burn/burn.t.sol
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/recover/recover.tree
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.tree
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.tree
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Calculations.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove Recover, AllowToHook and SetNFTDescriptor events perf: index streamId in events
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.tree
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/recover/recover.tree
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

revet: emit AllowToHook and SetNFTDescriptor events perf: index event parameters
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.tree
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: new cache
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .github/workflows/cron-stale.yml
  .github/workflows/multibuild.yml
  .github/workflows/stale.yml
Due: prettier --cache --write

ci: sync github actions with staging
  .github/workflows/ci-deep.yml
  .github/workflows/ci-multibuild.yml
Due: prettier --cache --write

ci: sync github actions with staging
  .github/workflows/ci-fork.yml
  .github/workflows/ci-multibuild.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

ci: sync github actions with staging
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-multibuild.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .github/workflows/cron-stale.yml
  .github/workflows/generate-svg.yml
  .github/workflows/stale.yml
Due: prettier --cache --write

refactor: remove `isPaused` and add invariant for status transitions (#440)
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/getters/getters.t.sol
  tests/integration/concrete/getters/getters.tree
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/pause/pause.tree
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  tests/integration/concrete/restart/restart.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/void/void.tree
  tests/integration/fuzz/create.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/integration/fuzz/restart.t.sol
  tests/integration/fuzz/void.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/README.md
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
  tests/utils/Assertions.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: new function classifications (#22)
  src/Adminable.sol
  src/Batch.sol
  src/NoDelegateCall.sol
  src/RoleAdminable.sol
  src/libraries/Errors.sol
  src/tests/BaseScript.sol
  src/tests/BaseTest.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update headers in interfaces
  src/interfaces/IAdminable.sol
  src/interfaces/IRoleAdminable.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: implement setUpMainnetFork helper function (#24)
  .solhint.json
  src/tests/BaseTest.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix typo
  src/abstracts/SablierLockupBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

revert: move code from LockupMath to SablierLockup perf: assign struct directly into the storage
  src/SablierLockup.sol
  src/libraries/LockupMath.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: forward variables without struct inside internal functions
  src/SablierLockup.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: use sender address to check stream existence
  src/abstracts/SablierLockupBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --cache --write: any of: *.{json,md,svg,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
