Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

test: adds tests for onlyComptroller modifier
  bun.lock
  tests/integration/concrete/comptroller-manager/only-comptroller/onlyComptroller.t.sol
  tests/integration/concrete/comptroller-manager/only-comptroller/onlyComptroller.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: uses ISablierComptroller in events perf: removes feePaid variable from _withdraw docs: polishes comments test: sets comptroller as caller in modifier chore: adds optional args in justfile
  justfile
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  src/libraries/Errors.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/lockup/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup/recover/recover.t.sol
  tests/integration/concrete/lockup/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup/transfer-fees-to-comptroller/transferFeesToComptroller.t.sol
  tests/integration/concrete/lockup/transfer-fees-to-comptroller/transferFeesToComptroller.tree
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: fix just command
  justfile
Due: none

chore: uses ETH_FROM in .env.example
  .env.example
  justfile
Due: none

docs: polish comment
  src/interfaces/ISablierLockupRecipient.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

revert: feePaid variable
  src/SablierLockup.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add transferFeesToComptroller function in the manager (#35)
  src/ComptrollerManager.sol
  src/SablierComptroller.sol
  src/interfaces/IComptrollerManager.sol
  src/interfaces/ISablierComptroller.sol
  tests/Base.t.sol
  tests/integration/concrete/adminable/constructor.t.sol
  tests/integration/concrete/adminable/only-admin/onlyAdmin.t.sol
  tests/integration/concrete/adminable/transfer-admin/transferAdmin.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/comptroller-manager/constructor.t.sol
  tests/integration/concrete/comptroller-manager/only-comptroller/onlyComptroller.t.sol
  tests/integration/concrete/comptroller-manager/set-comptroller/setComptroller.t.sol
  tests/integration/concrete/comptroller-manager/transfer-fees-to-comptroller/transferFeesToComptroller.t.sol
  tests/integration/concrete/comptroller-manager/transfer-fees-to-comptroller/transferFeesToComptroller.tree
  tests/integration/concrete/no-delegate-call/noDelegateCall.t.sol
  tests/integration/concrete/role-adminable/constructor.t.sol
  tests/integration/concrete/role-adminable/grant-role/grantRole.t.sol
  tests/integration/concrete/role-adminable/has-role-or-is-admin/hasRoleOrIsAdmin.t.sol
  tests/integration/concrete/role-adminable/only-role/onlyRole.t.sol
  tests/integration/concrete/role-adminable/revoke-role/revokeRole.t.sol
  tests/integration/concrete/sablier-comptroller/execute/execute.t.sol
  tests/integration/concrete/sablier-comptroller/execute/execute.tree
  tests/integration/concrete/sablier-comptroller/transfer-and-collect-fees/transferAndCollectFees.t.sol
  tests/integration/concrete/sablier-comptroller/transfer-and-collect-fees/transferAndCollectFees.tree
  tests/integration/fuzz/adminable/transferAdmin.t.sol
  tests/integration/fuzz/role-adminable/grantRole.t.sol
  tests/integration/fuzz/role-adminable/hasRoleOrIsAdmin.t.sol
  tests/integration/fuzz/role-adminable/revokeRole.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: append mock to contract names
  tests/Base.t.sol
  tests/integration/concrete/adminable/constructor.t.sol
  tests/integration/concrete/adminable/only-admin/onlyAdmin.t.sol
  tests/integration/concrete/adminable/transfer-admin/transferAdmin.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/comptroller-manager/constructor.t.sol
  tests/integration/concrete/comptroller-manager/only-comptroller/onlyComptroller.t.sol
  tests/integration/concrete/comptroller-manager/set-comptroller/setComptroller.t.sol
  tests/integration/concrete/comptroller-manager/transfer-fees-to-comptroller/transferFeesToComptroller.t.sol
  tests/integration/concrete/no-delegate-call/noDelegateCall.t.sol
  tests/integration/concrete/role-adminable/constructor.t.sol
  tests/integration/concrete/role-adminable/grant-role/grantRole.t.sol
  tests/integration/concrete/role-adminable/has-role-or-is-admin/hasRoleOrIsAdmin.t.sol
  tests/integration/concrete/role-adminable/only-role/onlyRole.t.sol
  tests/integration/concrete/role-adminable/revoke-role/revokeRole.t.sol
  tests/integration/concrete/sablier-comptroller/execute/execute.t.sol
  tests/integration/concrete/sablier-comptroller/transfer-and-collect-fees/transferAndCollectFees.t.sol
  tests/integration/fuzz/adminable/transferAdmin.t.sol
  tests/integration/fuzz/role-adminable/grantRole.t.sol
  tests/integration/fuzz/role-adminable/hasRoleOrIsAdmin.t.sol
  tests/integration/fuzz/role-adminable/revokeRole.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lock
  package.json
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  tests/integration/concrete/lockup/transfer-fees-to-comptroller/transferFeesToComptroller.t.sol
  tests/integration/concrete/lockup/transfer-fees-to-comptroller/transferFeesToComptroller.tree
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: just scripts (#166)
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  .prettierrc.js
  .prettierrc.yml
  bun.lock
  justfile
  package.json
Due: prettier --cache --write

chore: remove unused code
  bun.lock
  justfile
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

resolve conflicts
  src/SablierLockup.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

bb-ci
  .github/workflows/bb-ci-utils.yml
Due: prettier --cache --write

changed forge test file name
  .github/workflows/bb-ci-utils.yml
Due: prettier --cache --write

chore: bump date
  LICENSE.md
Due: prettier --cache --write

chore: nitpick date
  LICENSE.md
Due: prettier --cache --write

chore: nitpick license
  LICENSE.md
Due: prettier --cache --write

refactor: claim events (#163)
  bun.lock
  package.json
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleLockup.sol
  src/interfaces/ISablierMerkleVCA.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/instant/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/instant/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/instant/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comments
  src/abstracts/SablierLockupState.sol
  src/interfaces/ISablierLockup.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: use comptroller (#451)
  LICENSE.md
  bun.lock
  package.json
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployFlow.s.sol
  scripts/solidity/DeployProtocol.s.sol
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/collect-fees/collectFees.tree
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/recover/recover.tree
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.tree
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.tree
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdraw/withdraw.tree
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowComptrollerHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
  tests/utils/Utils.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add codecov badge
  README.md
Due: prettier --cache --write

build: include all rpc endpoints (#37)
  foundry.toml
Due: none

test: initialize fixture array in setUp
  tests/integration/fuzz/Fuzz.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add ChainIds library (#40)
  .github/workflows/ci-fork.yml
  .solhint.json
  foundry.toml
  scripts/DeployComptroller.s.sol
  scripts/DeployDeterministicComptroller.s.sol
  src/tests/BaseScript.sol
  src/tests/ChainId.sol
  tests/fork/ChainlinkOracle.t.sol
  tests/integration/concrete/base-script/BaseScript.t.sol
  tests/integration/fuzz/base-script/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: repomix config
  .gitignore
  .prettierignore
  .vscode/settings.json
  repomix.config.jsonc
Due: prettier --cache --write

chore: format repomix config
  repomix.config.jsonc
Due: none
