Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(utils): combine SetCustomFeeUSD and DisableCustomFeeUSDs events into UpdateCustomFeeUSD
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/tests/integration/concrete/comptroller/disable-custom-fee-usd-for/disableCustomFeeUSDFor.t.sol
  utils/tests/integration/concrete/comptroller/disable-custom-fee-usd-for/disableCustomFeeUSDFor.tree
  utils/tests/integration/concrete/comptroller/set-custom-fee-usd-for/setCustomFeeUSDFor.t.sol
  utils/tests/integration/concrete/comptroller/set-custom-fee-usd-for/setCustomFeeUSDFor.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename helpers libraries and update error prefixes
  airdrops/tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim/claim.t.sol
  flow/src/SablierFlow.sol
  flow/src/libraries/FlowHelpers.sol
  flow/tests/fork/Fork.t.sol
  lockup/scripts/bash/prepare-artifacts.sh
  lockup/src/abstracts/SablierLockupDynamic.sol
  lockup/src/abstracts/SablierLockupLinear.sol
  lockup/src/abstracts/SablierLockupState.sol
  lockup/src/abstracts/SablierLockupTranched.sol
  lockup/src/libraries/Errors.sol
  lockup/src/libraries/LockupHelpers.sol
  lockup/tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  lockup/tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  lockup/tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  lockup/tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  lockup/tests/integration/concrete/lockup/create-with-timestamps/createWithTimestamps.t.sol
  lockup/tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  lockup/tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
  lockup/tests/utils/DeployOptimized.t.sol
  utils/src/tests/BaseConstants.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: change type to uint128
  utils/src/tests/BaseConstants.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat(utils): add a function to lower campaign using callers with fee management role test(utils): move test mock contracts to a separate mock directory
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/src/libraries/Errors.sol
  utils/tests/integration/concrete/comptroller/execute/execute.t.sol
  utils/tests/integration/concrete/comptroller/lower-min-fee-usd-for-campaign/lowerMinFeeUSDForCampaign.t.sol
  utils/tests/integration/concrete/comptroller/lower-min-fee-usd-for-campaign/lowerMinFeeUSDForCampaign.tree
  utils/tests/mocks/MerkleMock.sol
  utils/tests/mocks/PanicContractMock.sol
  utils/tests/mocks/RevertingContractMock.sol
  utils/tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Update LICENSE-BUSL.md
  LICENSE-BUSL.md
Due: prettier --cache --write

docs: add a new security assumption
  SECURITY.md
Due: prettier --cache --write

chore: fix solhint
  .solhint.json
  airdrops/bun.lock
  airdrops/tests/.solhint.json
  flow/bun.lock
  flow/tests/.solhint.json
  flow/tests/fork/Flow.t.sol
  flow/tests/fork/Fork.t.sol
  lockup/bun.lock
  lockup/tests/.solhint.json
  utils/.solhint.json
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/tests/.solhint.json
  utils/tests/Base.t.sol
  utils/tests/integration/concrete/comptroller/initialize/initialize.t.sol
  utils/tests/integration/concrete/comptroller/upgrade-to-and-call/upgradeToAndCall.t.sol
  utils/tests/invariant/Comptroller.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: fix solhint (#1352)
  .solhint.json
  airdrops/bun.lock
  airdrops/tests/.solhint.json
  flow/bun.lock
  flow/tests/.solhint.json
  flow/tests/fork/Flow.t.sol
  flow/tests/fork/Fork.t.sol
  lockup/bun.lock
  lockup/tests/.solhint.json
  utils/.solhint.json
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/tests/.solhint.json
  utils/tests/Base.t.sol
  utils/tests/integration/concrete/comptroller/initialize/initialize.t.sol
  utils/tests/integration/concrete/comptroller/upgrade-to-and-call/upgradeToAndCall.t.sol
  utils/tests/invariant/Comptroller.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

update gitignore to track .claude/agents/ and .claude/skills/
  .gitignore
Due: none

chore: buildbear workflows
  .github/workflows/bb-ci-flow.yml
  .github/workflows/bb-ci-module.yml
Due: prettier --cache --write

chore: updated on push branch
  .github/workflows/bb-ci-flow.yml
Due: prettier --cache --write

test(invariant): nitpicks
  airdrops/tests/invariant/Invariant.t.sol
  airdrops/tests/invariant/handlers/BaseHandler.sol
  airdrops/tests/invariant/handlers/MerkleInstantHandler.sol
  airdrops/tests/invariant/handlers/MerkleLLHandler.sol
  airdrops/tests/invariant/handlers/MerkleLTHandler.sol
  airdrops/tests/invariant/handlers/MerkleVCAHandler.sol
  airdrops/tests/invariant/stores/Store.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: define MerkleBuilder as a contract (#1353)
  airdrops/bun.lock
  airdrops/tests/Base.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleBase.t.sol
  airdrops/tests/integration/fuzz/Fuzz.t.sol
  airdrops/tests/utils/Fuzzers.sol
  airdrops/tests/utils/MerkleBuilder.sol
  airdrops/tests/utils/MerkleBuilder.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(utils): rename data to targetCallData in execute function (#1367)
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/tests/integration/concrete/comptroller/execute/execute.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(airdrops): rename params to campaignParams in create functions and events (#1368)
  airdrops/scripts/solidity/CreateMerkleInstant.s.sol
  airdrops/scripts/solidity/CreateMerkleLL.s.sol
  airdrops/scripts/solidity/CreateMerkleLT.s.sol
  airdrops/scripts/solidity/CreateMerkleVCA.s.sol
  airdrops/src/SablierFactoryMerkleInstant.sol
  airdrops/src/SablierFactoryMerkleLL.sol
  airdrops/src/SablierFactoryMerkleLT.sol
  airdrops/src/SablierFactoryMerkleVCA.sol
  airdrops/src/SablierMerkleInstant.sol
  airdrops/src/SablierMerkleLL.sol
  airdrops/src/SablierMerkleLT.sol
  airdrops/src/SablierMerkleVCA.sol
  airdrops/src/interfaces/ISablierFactoryMerkleInstant.sol
  airdrops/src/interfaces/ISablierFactoryMerkleLL.sol
  airdrops/src/interfaces/ISablierFactoryMerkleLT.sol
  airdrops/src/interfaces/ISablierFactoryMerkleVCA.sol
  airdrops/tests/fork/merkle-campaign/MerkleInstant.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleLL.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleLT.t.sol
  airdrops/tests/fork/merkle-campaign/MerkleVCA.t.sol
  airdrops/tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  airdrops/tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  airdrops/tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  airdrops/tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  airdrops/tests/integration/fuzz/MerkleInstant.t.sol
  airdrops/tests/integration/fuzz/MerkleLL.t.sol
  airdrops/tests/integration/fuzz/MerkleLT.t.sol
  airdrops/tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor(utils): combine SetCustomFeeUSD and DisableCustomFeeUSDs events into UpdateCustomFeeUSD (#1369)
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/tests/integration/concrete/comptroller/disable-custom-fee-usd-for/disableCustomFeeUSDFor.t.sol
  utils/tests/integration/concrete/comptroller/disable-custom-fee-usd-for/disableCustomFeeUSDFor.tree
  utils/tests/integration/concrete/comptroller/set-custom-fee-usd-for/setCustomFeeUSDFor.t.sol
  utils/tests/integration/concrete/comptroller/set-custom-fee-usd-for/setCustomFeeUSDFor.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat(lockup, flow): add transferFromPayable
  flow/src/SablierFlow.sol
  flow/src/interfaces/ISablierFlow.sol
  flow/tests/integration/concrete/transfer-from-payable/transferFromPayable.t.sol
  flow/tests/integration/concrete/transfer-from-payable/transferFromPayable.tree
  lockup/src/SablierLockup.sol
  lockup/src/interfaces/ISablierLockup.sol
  lockup/tests/integration/concrete/lockup/transfer-from-payable/transferFromPayable.t.sol
  lockup/tests/integration/concrete/lockup/transfer-from-payable/transferFromPayable.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

style: add no-inline-assembly exception to SablierComptroller
  utils/src/SablierComptroller.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ai: rewrite skills with mdformat and inline descriptions
  .claude/agents/solidity-engineer.md
  .claude/skills/bash-script/SKILL.md
  .claude/skills/bash-script/references/ci-patterns.md
  .claude/skills/btt/SKILL.md
  .claude/skills/btt/references/examples.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/code-review/references/audit-workflow.md
  .claude/skills/code-review/references/pre-audit-checklist.md
  .claude/skills/code-review/references/vulnerability-checklist.md
  .claude/skills/foundry-test/SKILL.md
  .claude/skills/foundry-test/references/cheat-codes.md
  .claude/skills/foundry-test/references/deployment-checklist.md
  .claude/skills/foundry-test/references/deployment-scripts.md
  .claude/skills/foundry-test/references/formal-verification.md
  .claude/skills/foundry-test/references/gas-benchmarking.md
  .claude/skills/foundry-test/references/invariant-patterns.md
  .claude/skills/foundry-test/references/sablier-conventions.md
  .claude/skills/foundry-test/references/test-infrastructure.md
  .claude/skills/handbook/SKILL.md
  .claude/skills/handbook/references/airdrops.md
  .claude/skills/handbook/references/comptroller.md
  .claude/skills/handbook/references/flow.md
  .claude/skills/handbook/references/lockup.md
  .claude/skills/solidity-coding/SKILL.md
  .claude/skills/solidity-coding/references/coding-patterns.md
  .claude/skills/solidity-coding/references/event-design.md
  .claude/skills/solidity-coding/references/gas-optimization.md
  .claude/skills/solidity-coding/references/sablier-conventions.md
  .claude/skills/solidity-coding/references/security-practices.md
  .claude/skills/solidity-coding/references/versioning-migration.md
  .lintstagedrc.js
  .mdformat.toml
  .prettierignore
  CLAUDE.md
  CONTRIBUTING.md
  justfile
Due: prettier --cache --write

address some of my feedback
  airdrops/src/SablierMerkleLL.sol
  lockup/scripts/solidity/Init.s.sol
  lockup/src/SablierBatchLockup.sol
  lockup/src/abstracts/SablierLockupLinear.sol
  lockup/src/abstracts/SablierLockupState.sol
  lockup/src/interfaces/ISablierLockupLinear.sol
  lockup/src/interfaces/ISablierLockupState.sol
  lockup/src/libraries/Helpers.sol
  lockup/src/types/BatchLockup.sol
  lockup/src/types/LockupDynamic.sol
  lockup/src/types/LockupLinear.sol
  lockup/src/types/LockupTranched.sol
  lockup/tests/Base.t.sol
  lockup/tests/fork/LockupLinear.t.sol
  lockup/tests/integration/Integration.t.sol
  lockup/tests/integration/concrete/batch-lockup/create-with-durations-ll/createWithDurationsLL.t.sol
  lockup/tests/integration/concrete/batch-lockup/create-with-timestamps-ll/createWithTimestamps.t.sol
  lockup/tests/integration/concrete/batch/batch.t.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  lockup/tests/integration/concrete/lockup/create-with-timestamps/createWithTimestamps.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  lockup/tests/integration/fuzz/lockup-linear/withdrawableAmountOf.t.sol
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
  lockup/tests/utils/BatchLockupBuilder.sol
  lockup/tests/utils/Defaults.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove unneeded checks in lowerMinFeeUSDForCampaign
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/tests/integration/concrete/comptroller/lower-min-fee-usd-for-campaign/lowerMinFeeUSDForCampaign.t.sol
  utils/tests/integration/concrete/comptroller/lower-min-fee-usd-for-campaign/lowerMinFeeUSDForCampaign.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

run just full-write
  utils/src/SablierComptroller.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: prb changes
  .claude/agents/solidity-engineer.md
  .claude/settings.json
  .claude/skills/audit/SKILL.md
  .claude/skills/audit/references/audit-workflow.md
  .claude/skills/audit/references/pre-audit-checklist.md
  .claude/skills/audit/references/vulnerability-checklist.md
  .claude/skills/bash-scripting/SKILL.md
  .claude/skills/bash-scripting/references/ci-patterns.md
  .claude/skills/btt-testing/SKILL.md
  .claude/skills/btt-testing/references/examples.md
  .claude/skills/btt-testing/references/sablier-conventions.md
  .claude/skills/foundry-testing/SKILL.md
  .claude/skills/foundry-testing/references/cheat-codes.md
  .claude/skills/foundry-testing/references/deployment-checklist.md
  .claude/skills/foundry-testing/references/deployment-scripts.md
  .claude/skills/foundry-testing/references/formal-verification.md
  .claude/skills/foundry-testing/references/gas-benchmarking.md
  .claude/skills/foundry-testing/references/invariant-patterns.md
  .claude/skills/foundry-testing/references/sablier-conventions.md
  .claude/skills/foundry-testing/references/test-infrastructure.md
  .claude/skills/handbook/SKILL.md
  .claude/skills/solidity-coding/SKILL.md
  .claude/skills/solidity-coding/references/nft-descriptor.md
  LICENSE-BUSL.md
  LICENSE-GPL.md
  airdrops/CHANGELOG.md
  airdrops/README.md
  flow/CHANGELOG.md
  flow/README.md
  flow/tests/invariant/README.md
  lockup/CHANGELOG.md
  lockup/README.md
  lockup/tests/invariant/README.md
  utils/CHANGELOG.md
  utils/README.md
Due: prettier --cache --write

ai: add codex skills symlink
  .codex/skills
Due: none

chore: fix prettier/mdformat conflict and update lockfiles
  .prettierrc.js
  CONTRIBUTING.md
  airdrops/.prettierignore
  airdrops/bun.lock
  airdrops/tests/Base.t.sol
  airdrops/tests/utils/Fuzzers.sol
  bun.lock
  flow/.prettierignore
  flow/bun.lock
  justfile
  lockup/.prettierignore
  lockup/bun.lock
  utils/.prettierignore
  utils/bun.lock
  utils/tests/integration/concrete/comptroller/lower-min-fee-usd-for-campaign/lowerMinFeeUSDForCampaign.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat(utils): add a function to lower campaign using callers with fee management role (#1371)
  .prettierrc.js
  CONTRIBUTING.md
  airdrops/.prettierignore
  airdrops/bun.lock
  airdrops/tests/Base.t.sol
  airdrops/tests/utils/Fuzzers.sol
  bun.lock
  flow/.prettierignore
  flow/bun.lock
  justfile
  lockup/.prettierignore
  lockup/bun.lock
  utils/.prettierignore
  utils/bun.lock
  utils/src/SablierComptroller.sol
  utils/src/interfaces/ISablierComptroller.sol
  utils/src/libraries/Errors.sol
  utils/tests/integration/concrete/comptroller/execute/execute.t.sol
  utils/tests/integration/concrete/comptroller/lower-min-fee-usd-for-campaign/lowerMinFeeUSDForCampaign.t.sol
  utils/tests/integration/concrete/comptroller/lower-min-fee-usd-for-campaign/lowerMinFeeUSDForCampaign.tree
  utils/tests/mocks/MerkleMock.sol
  utils/tests/mocks/PanicContractMock.sol
  utils/tests/mocks/RevertingContractMock.sol
  utils/tests/utils/Modifiers.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove settings.local.json from version control
  .claude/settings.local.json
  .gitignore
Due: prettier --cache --write

incorrect formatting
  lockup/src/interfaces/ISablierLockupLinear.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

event alphabetic order
  lockup/src/abstracts/SablierLockupLinear.sol
  lockup/tests/fork/LockupLinear.t.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: higher precision in calculation function
  lockup/src/libraries/LockupMath.sol
  lockup/tests/integration/concrete/lockup-linear/streamed-amount-of/streamedAmountOf.t.sol
  lockup/tests/utils/Calculations.sol
  lockup/tests/utils/Constants.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove unused imports
  lockup/tests/fork/Fork.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

remove cliff unlock amount subtraction
  lockup/tests/integration/concrete/lockup-linear/streamed-amount-of/streamedAmountOf.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: friendlier explanatory comment
  airdrops/tests/fork/Fork.t.sol
  lockup/src/libraries/LockupMath.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

order alphabetically
  airdrops/src/SablierMerkleLL.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename helpers libraries and update error prefixes
  airdrops/tests/fork/Fork.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  airdrops/tests/integration/concrete/campaign/ll/claim/claim.t.sol
  flow/src/SablierFlow.sol
  flow/src/libraries/FlowHelpers.sol
  flow/tests/fork/Fork.t.sol
  lockup/scripts/bash/prepare-artifacts.sh
  lockup/src/abstracts/SablierLockupDynamic.sol
  lockup/src/abstracts/SablierLockupLinear.sol
  lockup/src/abstracts/SablierLockupState.sol
  lockup/src/abstracts/SablierLockupTranched.sol
  lockup/src/libraries/Errors.sol
  lockup/src/libraries/LockupHelpers.sol
  lockup/tests/fork/Fork.t.sol
  lockup/tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  lockup/tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  lockup/tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  lockup/tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  lockup/tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  lockup/tests/integration/concrete/lockup/create-with-timestamps/createWithTimestamps.t.sol
  lockup/tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  lockup/tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  lockup/tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  lockup/tests/invariant/handlers/LockupCreateHandler.sol
  lockup/tests/utils/DeployOptimized.t.sol
  utils/src/tests/BaseConstants.sol
  utils/src/tests/BaseUtils.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --cache --write: any of: *.{json,md,svg,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
