Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

build: bump forge-std to v1.10.0
  bun.lock
  package.json
Due: prettier --cache --write

test: fix inheritances in utils contracts
  tests/Base.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/utils/Fuzzers.sol
  tests/utils/Modifiers.sol
  tests/utils/Utils.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add show_metrics and lint_on_build in foundry config
  foundry.toml
Due: none

test(fuzz): multiple withdrawals with large rps (#459)
  tests/integration/fuzz/withdrawMaxMultiple.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: enable workflow dispatch in ci fork
  .github/workflows/ci-fork.yml
Due: prettier --cache --write

chore: change rpc endpoints for fork tests (#59)
  .env.example
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  foundry.toml
Due: prettier --cache --write

ci: pin foundry version to v1.2.3 for invariant tests (#461)
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  tests/invariant/Flow.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

revert: 26fdab5
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

ci: lower invariant runs to 20k
  .github/workflows/ci-deep.yml
Due: prettier --cache --write

ci: add workflow_dispatch to ci-fork
  .github/workflows/ci-fork.yml
Due: prettier --cache --write

build: use routeme rpcs for all chains
  .env.example
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  foundry.toml
  tests/fork/Fork.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: use routeme rpcs for all chains (#1284)
  .env.example
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  foundry.toml
  tests/fork/Fork.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: use routemesh rpcs for all chains
  .env.example
  .github/workflows/ci-fork.yml
  foundry.toml
Due: prettier --cache --write

chore: rename ROUTEME_API_KEY to ROUTEMESH_API_KEY
  .env.example
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  foundry.toml
Due: prettier --cache --write

build: use routemesh rpcs for all chains
  .env.example
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  foundry.toml
  tests/fork/Fork.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: attempt fork-test twice
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
Due: prettier --cache --write

ci: attempt fork tests twice
  .github/workflows/ci-fork.yml
Due: prettier --cache --write

script: add comptroller address for Sepolia
  .env.example
  src/tests/BaseScript.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump package verion to 1.0.0-beta.2
  CHANGELOG.md
  package.json
  tests/integration/fuzz/base-script/BaseScript.t.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add branch for sepolia in testFuzz_GetComptroller
  tests/integration/fuzz/base-script/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lock
  package.json
Due: prettier --cache --write

build: bump evm-utils script: fix target dirs in prepare-artifacts
  package.json
  scripts/bash/prepare-artifacts.sh
Due: prettier --cache --write

ci: remove API_KEY_INFURA
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: prettier --cache --write

build: bump evm-utils
  .env.example
  CONTRIBUTING.md
  bun.lock
  package.json
Due: prettier --cache --write

build: rename prepare to setup
  CONTRIBUTING.md
  bun.lock
  package.json
Due: prettier --cache --write

docs: polish contributing guidelines
  CONTRIBUTING.md
Due: prettier --cache --write

build: rename `prepare` script to `setup` (#1285)
  CONTRIBUTING.md
  bun.lock
  package.json
Due: prettier --cache --write
