Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

chore: remove console off rule in .solhint.json
  .solhint.json
  src/tests/BaseTest.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: refactor for code size optimization (#1244)
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  src/libraries/LockupMath.sol
  src/types/DataTypes.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/burn/burn.t.sol
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/recover/recover.tree
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.tree
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.tree
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Calculations.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

internal header in batch contract
  src/SablierBatchLockup.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: remove unused workflows
  .github/workflows/ci-multibuild.yml
  .github/workflows/multibuild.yml
  .github/workflows/run-smtchecker.yml
Due: prettier --cache --write

ci: use latest version of bun
  .github/workflows/ci-multibuild.yml
Due: prettier --cache --write

docs: remove extra spaces
  LICENSE-GPL.md
  src/interfaces/ISablierLockup.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: just use solhint
  package.json
Due: prettier --cache --write

build: bump openzeppelin (#28)
  bun.lock
  package.json
  src/tests/BaseTest.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump dependencies, refactor Defaults contract (#1249)
  bun.lock
  package.json
  tests/fork/Fork.t.sol
  tests/integration/concrete/lockup-state/burn/burn.t.sol
  tests/integration/concrete/lockup-state/cancel/cancel.t.sol
  tests/integration/concrete/lockup-state/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-state/getters/getters.t.sol
  tests/integration/concrete/lockup-state/refundable-amount-of/refundableAmountOf.t.sol
  tests/integration/concrete/lockup-state/status-of/statusOf.t.sol
  tests/integration/concrete/lockup-state/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-state/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-state/cancel.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/utils/Constants.sol
  tests/utils/Defaults.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump dependencies, function reclassification (#443)
  .solhint.json
  bun.lock
  package.json
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtScaledOf.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/adjustRatePerSecond.t.sol
  tests/integration/fuzz/deposit.t.sol
  tests/integration/fuzz/ongoingDebtScaledOf.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/integration/fuzz/totalDebtOf.t.sol
  tests/integration/fuzz/uncoveredDebtOf.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/invariant/handlers/BaseHandler.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add `SablierERC20Faucet` contract (#27)
  codecov.yml
  foundry.toml
  scripts/DeployDeterministicSablierERC20Faucet.s.sol
  scripts/DeploySablierERC20Faucet.s.sol
  src/mocks/erc20/SablierERC20Faucet.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename faucet (#29)
  scripts/DeployDeterministicERC20Faucet.s.sol
  scripts/DeployDeterministicSablierERC20Faucet.s.sol
  scripts/DeployERC20Faucet.s.sol
  scripts/DeploySablierERC20Faucet.s.sol
  src/mocks/erc20/ERC20Faucet.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: return refunded amount on `refundMax` (#445)
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/concrete/refund-max/refundMax.t.sol
  tests/integration/fuzz/refundMax.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: document segment change
  CHANGELOG.md
Due: prettier --cache --write

docs: document segment change (#1250)
  CHANGELOG.md
Due: prettier --cache --write

build: bump evm-utils and solhint
  bun.lock
  package.json
Due: prettier --cache --write

build: remove taiko endpoints
  foundry.toml
Due: none

build: remove taiko endpoint
  foundry.toml
Due: none

refactor: batchification of create functions refactor: delete BatchLockup contract build: set optimizer runs to 200
  foundry.toml
  scripts/bash/prepare-artifacts.sh
  scripts/solidity/DeployBatchLockup.s.sol
  scripts/solidity/DeployDeterministicBatchLockup.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/Init.s.sol
  src/SablierBatchLockup.sol
  src/SablierLockup.sol
  src/interfaces/ISablierBatchLockup.sol
  src/interfaces/ISablierLockup.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: dry'ify create common parameters build: increase optimizer runs to 300
  foundry.toml
  scripts/solidity/Init.s.sol
  src/SablierLockup.sol
  src/types/DataTypes.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: fix camel case for a variable
  tests/integration/Integration.t.sol
  tests/integration/concrete/lockup-state/cancel/cancel.t.sol
  tests/integration/concrete/lockup-state/withdraw/withdraw.t.sol
  tests/utils/Types.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: fix openzeppelin version (#30)
  bun.lock
  package.json
Due: prettier --cache --write

refactor: renames SablierFlowBase to SablierFlowState (#446)
  bun.lock
  package.json
  scripts/bash/prepare-artifacts.sh
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployFlow.s.sol
  scripts/solidity/DeployProtocol.s.sol
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/abstracts/SablierFlowState.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/fuzz/adjustRatePerSecond.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
Due: prettier --cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: fix script name
  scripts/solidity/DeployProtocol.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use FlowNFTDescriptor type in run script
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployProtocol.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt
